.sprt-sprite, #gallery .arrow-top, #gallery .arrow-bottom, #gallery .select-title, #gallery .select-composer, #gallery .select-listened, #gallery .gallery-list .gal-play, #gallery .gallery-list .gal-play a, #gallery .gallery-form { background-image: url('../img/bg/sprt-sdaa0ea80bc.png'); background-repeat: no-repeat; }

.icon-sprite, .wrapper .playground-detail .social.fb, .wrapper .playground-detail .social.tweet, .wrapper .playground-detail .right .song-title::before, #gallery .hanging-board.playground-detail .social.fb, #gallery .hanging-board.playground-detail .social.tweet, #gallery .hanging-board.playground-detail .right .song-title::before, #detail .hanging-board.playground-detail .social.fb, #detail .hanging-board.playground-detail .social.tweet, #detail .hanging-board.playground-detail .right .song-title::before, #playground .bottom-things .slider .left, #playground .bottom-things .slider .left:hover, #playground .bottom-things .slider .right, #playground .bottom-things .slider .right:hover { background-image: url('../img/icon-s10a4dae7c4.png'); background-repeat: no-repeat; }

.tutor-sprite, #playground .tutorial .wrapper-tutorial > div:nth-child(3) .numeric, #playground .tutorial .wrapper-tutorial > div:nth-child(3) .tutor, #playground .tutorial .wrapper-tutorial > div:nth-child(4) .numeric, #playground .tutorial .wrapper-tutorial > div:nth-child(4) .tutor, #playground .tutorial .wrapper-tutorial > div:nth-child(5) .numeric, #playground .tutorial .wrapper-tutorial > div:nth-child(5) .tutor, #playground .tutorial .wrapper-tutorial > div:nth-child(6) .numeric, #playground .tutorial .wrapper-tutorial > div:nth-child(6) .tutor, #playground .tutorial .wrapper-tutorial > div:nth-child(7) .numeric, #playground .tutorial .wrapper-tutorial > div:nth-child(7) .tutor, #playground .tutorial .wrapper-tutorial > div:nth-child(8) .numeric, #playground .tutorial .wrapper-tutorial > div:nth-child(8) .tutor { background-image: url('../img/tutor-sc00ebca155.png'); background-repeat: no-repeat; }

.product-sprite, #itemholder .item.cranberry, #itemholder .item.british, #itemholder .item.mint, #itemholder .item.blackmint, #itemholder .item.lemon, #itemholder .item.lemonlime, #itemholder .item.raspberry, #itemholder .item.walnut, #itemholder .item.butter, #itemholder .item.lime, #itemholder .item.spearmint, #playground .bottom-things .list .slide-product .item.cranberry, #playground .bottom-things .list .slide-product .item.british, #playground .bottom-things .list .slide-product .item.mint, #playground .bottom-things .list .slide-product .item.blackmint, #playground .bottom-things .list .slide-product .item.lemon, #playground .bottom-things .list .slide-product .item.lemonlime, #playground .bottom-things .list .slide-product .item.raspberry, #playground .bottom-things .list .slide-product .item.walnut, #playground .bottom-things .list .slide-product .item.butter, #playground .bottom-things .list .slide-product .item.lime, #playground .bottom-things .list .slide-product .item.spearmint { background-image: url('../img/product-s5bd4ebe7eb.png'); background-repeat: no-repeat; }

.splash-sprite, .product .dropzone .splash .splash1, .product .dropzone .splash .splash2, .product .dropzone .splash .splash3, .product .dropzone .splash .splash4, .product .dropzone .splash .splash5, .product .dropzone .splash .splash6, .product .dropzone .splash .splash7 { background-image: url('../img/sprite/splash-s1861bf3003.png'); background-repeat: no-repeat; }

.count-sprite, .countShow.down .count1, .countShow.down .count2, .countShow.down .count3, .countShow.down .count4 { background-image: url('../img/sprite/count-s863f49113e.png'); background-repeat: no-repeat; }

.teratai-sprite, .product .dropzone.hover::after, .product .dz1, .product .dz2, .product .dz3, .product .dz4, .product .dz5 { background-image: url('../img/teratai-sa0d7f4795b.png'); background-repeat: no-repeat; }

.beat-sprite, #playground .hanging-board .rec-wrapper .beat, #playground .hanging-board .rec-wrapper .beat.on, #playground .hanging-board .rec-wrapper .beat.on.bar { background-image: url('../img/sprite/beat-s31e73cfde0.png'); background-repeat: no-repeat; }

/* ============ */
/* CUSTOM FONTS */
/* ============ */
@font-face { font-family: 'din_alternateregular'; src: url("../fonts/din_alternate-webfont.eot"); src: url("../fonts/din_alternate-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_alternate-webfont.woff2") format("woff2"), url("../fonts/din_alternate-webfont.woff") format("woff"), url("../fonts/din_alternate-webfont.ttf") format("truetype"), url("../fonts/din_alternate-webfont.svg#din_alternateregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'din_alternatebold'; src: url("../fonts/din_alternate_bold-webfont.eot"); src: url("../fonts/din_alternate_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_alternate_bold-webfont.woff2") format("woff2"), url("../fonts/din_alternate_bold-webfont.woff") format("woff"), url("../fonts/din_alternate_bold-webfont.ttf") format("truetype"), url("../fonts/din_alternate_bold-webfont.svg#din_alternatebold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'gothic_821_condensed'; src: url("../fonts/gothic_821_condensed-webfont.eot"); src: url("../fonts/gothic_821_condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothic_821_condensed-webfont.woff2") format("woff2"), url("../fonts/gothic_821_condensed-webfont.woff") format("woff"), url("../fonts/gothic_821_condensed-webfont.ttf") format("truetype"), url("../fonts/gothic_821_condensed-webfont.svg#gothic_821_condensed") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'DINCondensed-Bold'; src: url("../fonts/DINCondensed-Bold_latin+latin-ext_gdi.eot"); src: url("../fonts/DINCondensed-Bold_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/DINCondensed-Bold_latin+latin-ext_gdi.woff") format("woff"), url("../fonts/DINCondensed-Bold_latin+latin-ext_gdi.ttf") format("truetype"), url("../fonts/DINCondensed-Bold_latin+latin-ext_gdi.svg#DINCondensed-Bold") format("svg"); font-weight: 700; font-style: normal; font-stretch: condensed; unicode-range: U+0020-2215; }
/* ========= */
/* CSS RESET */
/* ========= */
body, html { width: 100%; height: 100%; margin: 0; padding: 0; font-family: din_alternateregular, Arial, Helvetica, sans-serif; font-size: 16px; color: #000; background: #fff; }

p, h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: normal; cursor: default; }

ul, ol { list-style-type: none; margin: 0; padding: 0; }

a { cursor: pointer; }

a img { border: none; }

input, textarea { outline: none; }

textarea { resize: none; overflow: auto; }

strong { font-weight: bold; }

em { font-style: italic; }

u { text-decoration: underline; }

span { cursor: default; }

*:not(input.field) { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* =============== */
/* GENERAL CLASSES */
/* =============== */
h2 { font-size: 50px; line-height: 140px; color: #000; font-family: 'gothic_821_condensed'; text-transform: uppercase; margin-bottom: 40px; }

h3 { font-size: 30px; line-height: 70px; color: #000; font-family: 'gothic_821_condensed'; text-transform: uppercase; margin-bottom: 0; }

ol.dec { padding-left: 20px; list-style-type: decimal; }

ol.lowalpha { padding-left: 20px; list-style-type: lower-alpha; }

ol.alpha { padding-left: 20px; list-style-type: upper-alpha; }

ul.disc { padding-left: 20px; list-style-type: disc; }

ol.circle { padding-left: 20px; list-style-type: circle; }

/** For modern browsers 1. The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that are clearfixed. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
.clearfix:before, #gallery .gallery-list .list:before, .clearfix:after, #gallery .gallery-list .list:after { content: " "; /* 1 */ display: table; /* 2 */ }

.clearfix:after, #gallery .gallery-list .list:after { clear: both; }

/** For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.clearfix, #gallery .gallery-list .list { *zoom: 1; }

[data-hide="true"] { display: none; }

[data-hide="false"] { display: block; }

.wrapper { width: 1000px; min-height: 100%; margin: 0 auto; position: relative; }

.outlined { text-shadow: -1px 0px 0 #fff, -1px -1px 0 #fff, 0px -1px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff, 0px 1px 0 #fff, -1px 1px 0 #fff; }

/* ------------ buttons ------------ */
.btn { -moz-transition: color 0.2s ease-out; -o-transition: color 0.2s ease-out; -webkit-transition: color 0.2s ease-out; transition: color 0.2s ease-out; display: inline-block; margin: 0; padding: 0; background: none; border: none; outline: none; text-decoration: none; cursor: pointer; position: relative; }
.btn input { display: block; width: 100%; height: 100%; margin: 0; padding: 0; border: none; outline: none; position: absolute; left: 0; top: 0; opacity: 0; filter: alpha(opacity=0); cursor: pointer; }
.btn.notext { text-indent: -9999px; }
.btn.hanging { width: 200px; height: 69px; padding: 67px 5px 0 0; background: url("../img/button/hanging.png") no-repeat; text-align: center; font-family: 'gothic_821_condensed'; font-size: 26px; color: #000; text-transform: uppercase; }
.btn.in-gallery { left: 50%; margin-left: -100px; position: absolute; top: 522px; }
.btn.in-gallery:hover { color: #fff; }
.btn.standing { width: 117px; height: 40px; padding: 67px 5px 0 0; text-align: center; font-family: 'gothic_821_condensed'; font-size: 20px; color: #000; text-transform: uppercase; }
.btn.standing.down.left { background: url("../img/button/standing.png") left bottom no-repeat; }
.btn.standing.down.right { background: url("../img/button/standing.png") right bottom no-repeat; }
.btn.standing.up.left { background: url("../img/button/standing.png") left top no-repeat; }
.btn.standing.up.right { background: url("../img/button/standing.png") right top no-repeat; }
.btn.alt { width: 211px; height: 81px; padding: 92px 0 0; background: url("../img/button/hanging2.png") no-repeat; text-align: center; font-family: 'gothic_821_condensed'; font-size: 30px; color: #000; text-transform: uppercase; }
.btn.fbshare { width: 58px; height: 51px; background: #0e3a7d url("../img/icon/fb.png") top left no-repeat; }
.btn.twitshare { width: 58px; height: 51px; background: #3da8e6 url("../img/icon/twit.png") top left no-repeat; }

/* ------------ custom radio & checkbox ------------ */
label.radio { display: inline-block; margin-right: 20px; line-height: 33px; background: url(../../assets/img/button/radio.gif) no-repeat; overflow: auto; cursor: pointer; }

label.radio.checked { background-position: 0px -33px; }

label.radio input { margin: 0 3px 0 0; float: left; opacity: 0; filter: alpha(opacity=0); }

label.radio span { display: inline-block; margin-left: 25px; }

label.checkbox { display: inline-block; width: 450px; margin-left: 100px; font-size: 20px; line-height: 25px; font-family: 'DINCondensed-Bold'; letter-spacing: 0; background: url(../../assets/img/button/check.png) 0px 5px no-repeat; overflow: auto; cursor: pointer; text-align: left; }

label.checkbox.checked { background-position: 0px -95px; }

label.checkbox input { margin: 0 3px 0 0; float: left; opacity: 0; filter: alpha(opacity=0); }

label.checkbox span { display: inline-block; margin-left: 10px; }

label.checkbox span a { color: #fff; }

/* ------------ custom alert ------------ */
.err-alert { display: none; margin: -47px 0 0 -162px; padding: 10px; background: #cc0000; position: fixed; left: 50%; top: 50%; z-index: 92; font-size: 14px; color: #fff; text-align: center; }
.err-alert .inner { width: 270px; height: 55px; padding: 15px 15px 0; border: solid 2px #fff; }
.err-alert .dismiss { display: none; position: absolute; left: 0; right: 0; bottom: -2px; font-size: 10px; text-align: center; opacity: 0.7; filter: alpha(opacity=70); }
.err-alert.dismissable .dismiss { display: block; }

/* ------------ loading overlay ------------ */
.nowloading { display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: #000; opacity: 0.5; filter: alpha(opacity=50); z-index: 98; -webkit-transform: translateZ(1px); }

.nowloading-icon { display: none; width: 120px; height: 120px; margin: 0; padding: 0; background: #fff url("../img/icon/loading3.gif") center center no-repeat; border-radius: 15px; box-shadow: 0px 0px 15px #555; position: fixed; left: 50%; top: 50%; margin: -60px 0 0 -60px; z-index: 99; }

/* ------------ popups ------------ */
.overlay { display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: #000; opacity: 0.6; filter: alpha(opacity=60); z-index: 90; }

.popup { display: none; width: 400px; height: 300px; margin: -150px 0 0 -200px; background: #fff; position: fixed; left: 50%; top: 50%; z-index: 91; }

.popup-close { width: 32px; height: 32px; background: url("../img/button/close.png") center center no-repeat; position: absolute; right: -15px; top: -15px; cursor: pointer; }

/* ------------ jScrollpane ------------ */
.jspHorizontalBar .jspTrack { background: none; }
.jspHorizontalBar .jspDrag { height: 5px; background: #000; opacity: 0.5; filter: alpha(opacity=50); border-radius: 10px; }

.jspVerticalBar { width: 6px; background: none; }
.jspVerticalBar .jspTrack { background: #2dad91; border-left: solid 1px #008560; border-top: solid 1px #008560; border-right: solid 1px #1ba47d; border-bottom: solid 1px #1ba47d; border-radius: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.jspVerticalBar .jspDrag { width: 4px; background: #c2dad3; border-left: solid 1px #63a492; border-top: solid 1px #63a492; border-right: solid 1px #95a39f; border-bottom: solid 1px #95a39f; border-radius: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.emptylist { width: 400px; font-size: 24px; margin-top: 50px; margin-left: 116px; line-height: 25px; font-family: 'DINCondensed-Bold'; padding-top: 20px; text-shadow: 0 0 2px #d6ac7a; }

#maincontent { height: 100%; min-height: 680px; position: relative; }

@-webkit-keyframes bounce { 0%,100%,20%,53%,80% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transform: scale3d(0, 0, 0); -ms-transform: scale3d(0, 0, 0); transform: scale3d(0, 0, 0); }
  40%,43% { -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); -webkit-transform: scale3d(0, 0.1, 0); -ms-transform: scale3d(0, 0.1, 0); transform: scale3d(0, 0.1, 0); }
  70% { -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); -webkit-transform: scale3d(0, 0.1, 0); -ms-transform: scale3d(0, 0.1, 0); transform: scale3d(0, 0.1, 0); }
  90% { -webkit-transform: scale3d(1, 1, 0); -ms-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); } }
@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes rotate { from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes rotate { from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes down { 0% { top: -70px; }
  20% { top: 90px; }
  80% { top: 90px; }
  100% { top: -70px; } }
@-moz-keyframes down { 0% { top: -70px; }
  20% { top: 90px; }
  80% { top: 90px; }
  100% { top: -70px; } }
@keyframes down { 0% { top: -70px; }
  20% { top: 90px; }
  80% { top: 90px; }
  100% { top: -70px; } }
.countShow { display: block; text-align: center; width: 100%; height: 166px; position: relative; font-family: din_alternateregular, Arial, Helvetica, sans-serif; font-size: 16px; z-index: 23; color: #fff; font-size: 240px; top: -70px; position: absolute; font-weight: bold; cursor: default; z-index: 9; }
.countShow.down { animation: down 4.5s linear; -moz-animation: down 4.5s linear; -webkit-animation: down 4.5s linear; }
.countShow.down .count1 { background-position: 0 -332px; animation: count 1s linear .5s; -moz-animation: count 1s linear .5s; -webkit-animation: count 1s linear .5s; }
.countShow.down .count2 { background-position: 0 -166px; animation: count 1s linear 1.5s; -moz-animation: count 1s linear 1.5s; -webkit-animation: count 1s linear 1.5s; }
.countShow.down .count3 { background-position: 0 0; animation: count 1s linear 2.5s; -moz-animation: count 1s linear 2.5s; -webkit-animation: count 1s linear 2.5s; }
.countShow.down .count4 { background-position: 0 -498px; animation: count 1s linear 3.5s; -moz-animation: count 1s linear 3.5s; -webkit-animation: count 1s linear 3.5s; }
.countShow div { position: absolute; margin-left: 360px; top: 0; width: 239px; height: 100%; opacity: 0; }

/* ====== */
/* HEADER */
/* ====== */
.header .logo { position: absolute; left: -126px; top: 0; z-index: 21; height: 270px; }
.header .logo.bottom { z-index: 20; }

/* ====== */
/* FOOTER */
/* ====== */
.footer { width: 100%; height: 36px; background: #252525; position: absolute; left: 0; bottom: 0; color: #fff; font-size: 14px; line-height: 36px; }
.footer .left { padding-left: 20px; float: left; }
.footer .left a { padding-left: 25px; }
.footer .left .twit { background: url(../../assets/img/icon/twitlink.png) left center no-repeat; }
.footer .left .web { background: url(../../assets/img/icon/weblink.png) left center no-repeat; }
.footer .right { padding-right: 20px; float: right; }
.footer a { color: #fff; text-decoration: none; }
.footer a:hover { text-decoration: underline; }
.footer span { padding: 0 7px; }

/* ==== */
/* BODY */
/* ==== */
.content { width: 100%; height: 100%; min-width: 1000px; min-height: 600px; overflow: hidden; position: relative; }
.content.fit { min-height: 600px; }
.content#playground { min-height: 680px; }
.content#gallery { min-height: 800px; }

#contentdata { display: none; }

.body { width: 100%; height: 100%; }
.body .mainbg .bg-waterfall { display: none; }
.body .bg { position: absolute; left: 50%; bottom: 0; margin-left: -960px; }
.body .bg.hidden { display: none; }
.body.waterfall .bg-waterfall { display: block; }
.body.waterfall .bg-park { display: none; }
.body.park .bg-park { display: block; }
.body .orn { position: absolute; bottom: 0; }
.body .orn.left { left: -330px; }
.body .orn.right { right: -330px; }
.body .orn.mid { left: 50%; margin-left: -960px; }

.fb-overlay { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.7; filter: alpha(opacity=70); }

#savingboard { display: none; background: url(../img/bg/parts/board-save.png) center -32px no-repeat; }

#recordingboard { background: url(../../assets/img/bg/board-playground-top.png) right top no-repeat; }
#recordingboard .stop { display: none; }

.hanging-board { position: absolute; left: 50%; top: 0; font-family: 'gothic_821_condensed'; }
.hanging-board > div { width: 100%; position: relative; margin-top: -20px; }
.hanging-board .intro { font-size: 20px; line-height: 25px; font-family: 'DINCondensed-Bold'; padding-top: 20px; text-shadow: 0 0 2px #d6ac7a; }
.hanging-board .intro em { font-style: normal; color: #fff; }

.textinput { display: block; width: 225px; height: 34px; margin: 0 auto 30px; background: url(../../assets/img/bg/text-input-search.png) left top no-repeat; position: relative; }
.textinput input { display: block; width: 200px; border: 0; padding: 12px 12px; background: transparent; outline: none; color: #9e693a; }
.textinput input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }

.transparentBG { display: none; -moz-transition: all 1s ease; -o-transition: all 1s ease; -webkit-transition: all 1s ease; transition: all 1s ease; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: fixed; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.8); background-position: center center; background-repeat: no-repeat; background-size: 32px 32px; z-index: 20; }
.transparentBG .random-text { color: #fff; text-align: center; top: 50%; position: absolute; left: 0; right: 0; margin-top: 70px; font-size: 12px; }
.transparentBG.layout { display: block; z-index: 500; opacity: 1; }
.transparentBG.active { opacity: 1; display: block; z-index: 9; }
.transparentBG.active.record-prepare .preloader-content, .transparentBG.active.record-prepare .random-text { display: none; }
.transparentBG img.note { height: 11px; width: 11px; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; z-index: 24; }
.transparentBG .preloader-content img { height: 120px; width: 120px; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; }

/* privacy */
.privacy { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 2s ease; -o-transition: all 2s ease; -webkit-transition: all 2s ease; transition: all 2s ease; display: none; background: url(../../assets/img/bg/board-tutorial.png) no-repeat; width: 601px; height: 100%; position: absolute; left: 50%; margin-left: -270px; text-align: center; text-transform: uppercase; font-family: din_alternateregular, Arial, Helvetica, sans-serif; font-size: 21pt; line-height: 3; z-index: 501; }
.privacy h1 { left: 184px; top: 112px; position: absolute; font-size: 24pt; }
.privacy .privacy-wrapper { text-align: left; position: absolute; top: 220px; width: 430px; height: 440px; left: 80px; overflow: auto; }
.privacy .privacy-wrapper .privacy-content { font-size: 12pt; text-transform: none; line-height: 22px; font-weight: normal; }
.privacy .privacy-wrapper .privacy-content h5 { font-weight: bold; font-size: 20pt; padding: 15px 0 5px 0; }
.privacy .privacy-wrapper .privacy-content p { font-weight: bold; padding: 0 0 15px 0; }
.privacy .close { width: 195px; height: 105px; position: absolute; background: url(../../assets/img/bg/board-2.png) bottom no-repeat; top: 699px; left: 190px; text-align: center; text-transform: uppercase; font-family: 'gothic_821_condensed'; font-size: 21pt; line-height: 3; padding: 0; cursor: pointer; z-index: -1; }
.privacy .close:hover { color: #fff; }

/* syarat */
.syarat { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 2s ease; -o-transition: all 2s ease; -webkit-transition: all 2s ease; transition: all 2s ease; display: none; background: url(../../assets/img/bg/board-tutorial.png) no-repeat; width: 601px; height: 100%; position: absolute; left: 50%; margin-left: -270px; text-align: center; text-transform: uppercase; font-family: din_alternateregular, Arial, Helvetica, sans-serif; font-size: 21pt; line-height: 3; z-index: 501; }
.syarat h1 { left: 130px; top: 112px; position: absolute; font-size: 24pt; }
.syarat .syarat-wrapper { text-align: left; position: absolute; top: 220px; width: 430px; height: 440px; left: 80px; overflow: auto; }
.syarat .syarat-wrapper .syarat-content { font-family: din_alternateregular, Arial, Helvetica, sans-serif; font-size: 12pt; text-transform: none; line-height: 22px; font-weight: bold; }
.syarat .syarat-wrapper .syarat-content h5 { font-weight: bold; font-size: 20pt; padding: 15px 0 5px 0; }
.syarat .syarat-wrapper .syarat-content h6 { font-weight: bold; padding: 15px 0 0 0; text-decoration: underline; font-weight: bold; font-size: 14pt; }
.syarat .syarat-wrapper .syarat-content p { font-weight: bold; padding: 0 0 15px 0; }
.syarat .syarat-wrapper .syarat-content p span.font-italic { font-style: italic; }
.syarat .syarat-wrapper .syarat-content hr { border-color: #000; margin-top: -15px; }
.syarat .syarat-wrapper .syarat-content ol { margin-top: -16px; padding-left: 32px; list-style-type: decimal; display: list-item; }
.syarat .close { width: 195px; height: 105px; position: absolute; background: url(../../assets/img/bg/board-2.png) bottom no-repeat; top: 699px; left: 190px; text-align: center; text-transform: uppercase; font-family: 'gothic_821_condensed'; font-size: 21pt; line-height: 3; padding: 0; cursor: pointer; z-index: -1; }
.syarat .close:hover { color: #fff; }

/* reload notif */
.reloadnotif { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 2s ease; -o-transition: all 2s ease; -webkit-transition: all 2s ease; transition: all 2s ease; display: none; background: url(../../assets/img/bg/board-reg-thanks.png) right center no-repeat; width: 601px; height: 343px; position: absolute; left: 50%; margin-left: -270px; text-align: center; text-transform: uppercase; font-family: 'gothic_821_condensed'; font-size: 21pt; line-height: 3; z-index: 501; }
.reloadnotif h1 { left: 184px; top: 112px; position: absolute; font-size: 24pt; }
.reloadnotif .reloadnotif-wrapper { text-align: center; position: absolute; top: 160px; width: 430px; left: 80px; overflow: auto; font-size: 22px; line-height: 32px; }
.reloadnotif .close { width: 195px; height: 105px; position: absolute; background: url(../../assets/img/bg/board-2.png) bottom no-repeat; top: 295px; left: 190px; text-align: center; text-transform: uppercase; font-family: 'gothic_821_condensed'; font-size: 21pt; line-height: 3; padding: 0; cursor: pointer; z-index: -1; }
.reloadnotif .close:hover { color: #fff; }

/* Detail */
.wrapper .playground-detail { width: 567px; margin-left: -281px; }
.wrapper .playground-detail .detail { position: absolute; margin-top: 200px; margin-left: 190px; }
.wrapper .playground-detail .detail:hover { color: #fff; }
.wrapper .playground-detail > div { height: 261px; background: url(../../assets/img/bg/parts/board-reg.png) center top no-repeat; box-sizing: border-box; padding: 50px 70px 20px 70px; z-index: 2; }
.wrapper .playground-detail > div h2 { float: left; margin: -55px 0 0 30px; max-height: 142px; overflow: hidden; text-align: right; font-size: 30px; }
.wrapper .playground-detail > div h2::after { clear: both; }
.wrapper .playground-detail .social { display: inline-block; position: absolute; right: -50px; z-index: 1; }
.wrapper .playground-detail .social.fb { top: 110px; background-position: 0 0; height: 78px; width: 82px; bottom: 43px; }
.wrapper .playground-detail .social.tweet { top: 161px; background-position: 0 -384px; height: 78px; width: 82px; bottom: -8px; }
.wrapper .playground-detail .meta { clear: both; overflow: hidden; position: relative; float: left; margin: -19px 0 0 0; text-align: center; min-width: 50px; }
.wrapper .playground-detail a.user-photo { margin-top: -14px; float: left; display: inline-block; background-position: center center; background-repeat: no-repeat; background-size: cover; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: 3px solid #46cfa8; box-sizing: border-box; width: 55px; min-height: 55px; }
.wrapper .playground-detail a.user-photo > img { width: 100%; border-radius: 50%; border: 3px solid #46cfa8; box-sizing: border-box; }
.wrapper .playground-detail .right { margin-top: 105px; height: 52px; overflow: hidden; text-align: left; }
.wrapper .playground-detail .right .song-title { margin-left: 1px; color: #fff; font-size: 22px; line-height: 26px; }
.wrapper .playground-detail .right .song-title::before { background-position: 0 -78px; height: 17px; width: 12px; content: ""; display: inline-block; margin: 0px 6px -2px 0px; transform: scale(1.2); }
.wrapper .playground-detail .play-wrapper { position: relative; margin: 0 auto 20px auto; padding-top: 10px; overflow: hidden; }
.wrapper .playground-detail .play-wrapper .progressbar { width: 300px; height: 9px; float: left; }
.wrapper .playground-detail .play-wrapper .progressbar .brown { width: 100%; height: 100%; position: absolute; background-color: #a06a3e; border-radius: 4.5px; -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); }
.wrapper .playground-detail .play-wrapper .progressbar .green { position: absolute; z-index: 3; width: 0%; height: 100%; background-color: #46cfa8; border-radius: 4.5px; -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); -webkit-transition: 1s all linear; -moz-transition: 1s all linear; -ms-transition: 1s all linear; -o-transition: 1s all linear; transition: 1s all linear; }
.wrapper .playground-detail .play-wrapper span { font-size: 16px; color: #4c3215; float: right; margin: -4px 0 0 0; font-family: 'gothic_821_condensed'; }
.wrapper .playground-detail .play-wrapper > div { width: 300px; position: relative; }
.wrapper .playground-detail .play-wrapper:after { clear: both; }
.wrapper .playground-detail .playback { height: 90px; text-align: left; margin: 84px 0 0; }
.wrapper .playground-detail .playback a { cursor: context-menu; width: 65px; display: inline-block; }
.wrapper .playground-detail .playback span { width: 38px; height: 38px; display: inline-block; }
.wrapper .playground-detail .playback .play { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat left top; }
.wrapper .playground-detail .playback .play.active { background: url(../../assets/img/button/playback.png) no-repeat left -38px; }
.wrapper .playground-detail .playback .stop { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat -38px top; }
.wrapper .playground-detail .playback .stop.active { background: url(../../assets/img/button/playback.png) no-repeat -38px bottom; }

/* ============ */
/* LANDING/HOME */
/* ============ */
#home .ornament { display: none; }
#home .hanging-board.drbeat { margin-left: -580px; margin-top: -21px; z-index: 3; width: 100%; height: 538px; background: url(../../assets/img/bg/drbeat-connect.png) center top no-repeat; }
#home .hanging-board.drbeat.home { height: 168px; background: url(); }
#home .hanging-board.drbeat.home::after { content: ""; position: absolute; display: inline-block; width: 100%; height: 168px; top: 0px; background: url(../../assets/img/bg/leave-home.png) center top no-repeat; }
#home .hanging-board.drbeat.home .headset { cursor: pointer; margin: 20px 0 0 716px; width: 159px; height: 369px; background: url(../../assets/img/bg/dr-beat-inactive.png) center top no-repeat; }
#home .hanging-board.fbconnect { width: 667px; margin-left: -330px; text-align: center; }
#home .hanging-board.fbconnect > div { height: 538px; background: url(../../assets/img/bg/parts/board-home.png) center top no-repeat; }
#home .hanging-board.fbconnect .copy-connect { position: relative; margin-left: 180px; margin-top: -10px; width: 287px; height: 177px; background: url("../../assets/img/bg/text-copy-connect.png") center top no-repeat; }
#home .hanging-board.fbconnect img { position: relative; z-index: 3; cursor: pointer; margin-top: 8px; margin-left: -20px; }
#home .hanging-board.fbconnect h2 { padding-top: 30px; margin-bottom: 20px; line-height: 30px; min-height: 95px; font-size: 30px; }
#home .hanging-board.landingpage { width: 639px; margin-left: -322px; top: 20px; text-align: center; }
#home .hanging-board.landingpage > div { height: 390px; background: url(../../assets/img/bg/parts/board-home.png) center top no-repeat; }
#home .hanging-board.landingpage .intro { font-family: 'gothic_821_condensed'; font-size: 18px; padding: 0 0 10px 0; }
#home .hanging-board.landingpage .sub { width: 349px; height: 45px; background: url(../../assets/img/bg/3-tracks.png) center top no-repeat; top: 38px; left: 126px; position: relative; transform: scale(0.9); }
#home .hanging-board.landingpage .btn { position: absolute; left: 50%; top: 322px; }
#home .hanging-board.landingpage .btn.gal { margin-left: -185px; }
#home .hanging-board.landingpage .btn.mix { margin-left: 0; }
#home .hanging-board.landingpage .btn:hover { color: #fff; }
#home .hanging-board.landingpage h2 { padding: 26px 0 0 0; line-height: 30px; min-height: 38px; font-size: 50px; margin: 0; }
#home .no-login .fb-overlay, #home .no-login .fbconnect { display: block; }
#home .no-login .landingpage { display: none; }
#home .top-three { position: relative; z-index: 2; width: 497px; height: 180px; margin: 39px 0 0 0; z-index: 3px; }
#home .top-three > div { width: 200px; height: 54px; margin-bottom: 9px; overflow: hidden; }
#home .top-three > div:nth-child(1) { width: 467px; height: 54px; margin-left: 9px; }
#home .top-three > div:nth-child(1).hover:hover { background: url(../../assets/img/bg/landing1.png) 65px 1px no-repeat; }
#home .top-three > div:nth-child(1).active { background: url(../../assets/img/bg/landing1.png) 65px 1px no-repeat; }
#home .top-three > div:nth-child(2) { width: 467px; height: 54px; margin-left: 9px; }
#home .top-three > div:nth-child(2).hover:hover { background: url(../../assets/img/bg/landing2.png) 65px 1px no-repeat; }
#home .top-three > div:nth-child(2).active { background: url(../../assets/img/bg/landing2.png) 65px 1px no-repeat; }
#home .top-three > div:nth-child(3) { width: 467px; height: 54px; margin-left: 9px; }
#home .top-three > div:nth-child(3).hover:hover { background: url(../../assets/img/bg/landing3.png) 65px 1px no-repeat; }
#home .top-three > div:nth-child(3).active { background: url(../../assets/img/bg/landing3.png) 65px 1px no-repeat; }
#home .top-three > div .rounded { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -khtml-border-radius: 50%; overflow: hidden; float: left; margin: 0px 25px 0 100px; border: solid 2px white; height: 50px; width: 50px; }
#home .top-three > div .rounded img { width: 50px; height: 50px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -khtml-border-radius: 50%; }
#home .top-three > div p { width: 210px; float: left; margin-right: 15px; text-align: left; }
#home .top-three > div p span { display: block; }
#home .top-three > div p .song { font-family: 'gothic_821_condensed'; font-size: 24px; line-height: 34px; height: 34px; overflow: hidden; }
#home .top-three > div p .name { font-family: 'din_alternatebold'; font-size: 15px; line-height: 16px; height: 16px; overflow: hidden; }
#home .top-three > div a { display: block; width: 32px; height: 32px; background: url(../../assets/img/icon/play.png) no-repeat; float: left; margin-top: 11px; cursor: pointer; text-indent: -9999px; }
#home .top-three > div a.stop { background: url(../../assets/img/button/playback.png) no-repeat -38px top; transform: scale(0.88); width: 38px; height: 38px; margin-left: -2px; margin-top: 8px; }

#like .hanging-board { width: 639px; margin-left: -322px; top: 20px; text-align: center; }
#like .hanging-board > div { height: 316px; background: url(../../assets/img/bg/parts/board-like.png) left top no-repeat; }
#like .hanging-board > div h3 { padding-top: 100px; }
#like .hanging-board > div .intro { position: absolute; top: 120px; padding: 13px 100px; font-size: 20px; letter-spacing: 2px; font-family: 'gothic_821_condensed'; }
#like .hanging-board > div .w-fb-data { top: 265px; position: absolute; left: 270px; }
#like .btn { position: absolute; top: 270px; left: 228px; }
#like .btn:hover { color: #fff; }

/* ======== */
/* REGISTER */
/* ======== */
#register .hanging-board { width: 624px; margin-left: -310px; text-align: center; }
#register .hanging-board > div { height: 354px; background: url(../../assets/img/bg/board-reg-thanks.png) left top no-repeat; }
#register .hanging-board h2 { margin-bottom: 10px; }
#register .hanging-board .btn { position: absolute; left: 50%; }
#register .hanging-board .btn.hanging { top: 252px; margin-left: -100px; }
#register .hanging-board .btn:hover { color: #fff; }
#register .hanging-board .checkbox { top: -10px; }
#register .hanging-board .message { position: relative; font-weight: bold; color: #880000; }

/* ========= */
/* THANK YOU */
/* ========= */
#thanks .hanging-board { width: 626px; margin-left: -310px; text-align: center; }
#thanks .hanging-board > div { height: 316px; background: url(../../assets/img/bg/board-reg-thanks.png) right top no-repeat; }
#thanks .hanging-board h3 { padding-top: 100px; }
#thanks .hanging-board .intro { padding-top: 13px; font-size: 21px; letter-spacing: 2px; }
#thanks .hanging-board .btn { position: absolute; left: 50%; }
#thanks .hanging-board .btn.hanging { top: 226px; margin-left: -220px; }
#thanks .hanging-board .btn.hanging:hover { color: #fff; }
#thanks .hanging-board .btn.fbshare { margin-left: 0; left: 420px; top: 280px; }
#thanks .hanging-board .btn.twitshare { margin-left: 0; left: 478px; top: 280px; }

/* ======= */
/* GALLERY */
/* ======= */
#gallery .hanging-board { width: 639px; margin-left: -310px; text-align: center; }
#gallery .hanging-board .board-extend { width: 538px; height: 202px; background: url(../../assets/img/bg/board-home-ex.png) no-repeat; position: absolute; left: 53px; top: 384px; }
#gallery .hanging-board .gallery-box { height: 588px; padding-top: 1px; background: url(../../assets/img/bg/board-fb-home-stain.png) -667px top no-repeat; }
#gallery .hanging-board h2 { margin: 0; margin-top: -20px; }
#gallery .hanging-board h3 { padding-top: 100px; }
#gallery .hanging-board .intro { padding-top: 13px; font-size: 21px; letter-spacing: 2px; }
#gallery .hanging-board.playground-detail { /* width: 597px;
margin-left: -298px; */ width: 567px; margin-left: -281px; }
#gallery .hanging-board.playground-detail .detail { position: absolute; margin-top: 200px; left: 190px; }
#gallery .hanging-board.playground-detail .detail:hover { color: #fff; }
#gallery .hanging-board.playground-detail > div { height: 261px; /* background: url(../../assets/img/bg/board-playground-top.png) left top no-repeat; */ background: url(../../assets/img/bg/parts/board-reg.png) center top no-repeat; box-sizing: border-box; padding: 50px 70px 20px 70px; z-index: 2; }
#gallery .hanging-board.playground-detail > div h2 { float: left; margin: -55px 0 0 30px; max-height: 142px; overflow: hidden; text-align: right; font-size: 30px; }
#gallery .hanging-board.playground-detail > div h2::after { clear: both; }
#gallery .hanging-board.playground-detail .social { display: inline-block; position: absolute; right: -50px; z-index: 1; }
#gallery .hanging-board.playground-detail .social.fb { top: 110px; background-position: 0 0; height: 78px; width: 82px; bottom: 43px; }
#gallery .hanging-board.playground-detail .social.tweet { top: 161px; background-position: 0 -384px; height: 78px; width: 82px; bottom: -8px; }
#gallery .hanging-board.playground-detail .meta { clear: both; overflow: hidden; position: relative; float: left; margin: -19px 0 0 0; text-align: center; min-width: 50px; }
#gallery .hanging-board.playground-detail a.user-photo { margin-top: -14px; float: left; /* width: 75px;
height: 75px;
float: left; */ display: inline-block; background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; border: 3px solid #46cfa8; box-sizing: border-box; width: 55px; min-height: 55px; }
#gallery .hanging-board.playground-detail a.user-photo > img { width: 100%; border-radius: 50%; border: 3px solid #46cfa8; box-sizing: border-box; }
#gallery .hanging-board.playground-detail .right { /* float: left; */ margin-top: 105px; height: 52px; overflow: hidden; text-align: left; }
#gallery .hanging-board.playground-detail .right .song-title { margin-left: 1px; color: #fff; font-size: 22px; line-height: 26px; }
#gallery .hanging-board.playground-detail .right .song-title::before { background-position: 0 -78px; height: 17px; width: 12px; content: ""; display: inline-block; margin: 0px 6px -2px 0px; transform: scale(1.2); }
#gallery .hanging-board.playground-detail .play-wrapper { position: relative; margin: 0 auto 20px auto; padding-top: 10px; overflow: hidden; }
#gallery .hanging-board.playground-detail .play-wrapper span { font-size: 16px; color: #4c3215; float: right; margin: -4px 0 0 0; font-family: 'gothic_821_condensed'; }
#gallery .hanging-board.playground-detail .play-wrapper > div { width: 405px; position: relative; }
#gallery .hanging-board.playground-detail .play-wrapper:after { clear: both; }
#gallery .hanging-board.playground-detail .playback { height: 90px; text-align: left; margin: 84px 0 0; }
#gallery .hanging-board.playground-detail .playback a { cursor: context-menu; width: 65px; display: inline-block; }
#gallery .hanging-board.playground-detail .playback span { width: 38px; height: 38px; display: inline-block; }
#gallery .hanging-board.playground-detail .playback .play { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat left top; }
#gallery .hanging-board.playground-detail .playback .play.active { background: url(../../assets/img/button/playback.png) no-repeat left -38px; }
#gallery .hanging-board.playground-detail .playback .stop { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat -38px top; }
#gallery .hanging-board.playground-detail .playback .stop.active { background: url(../../assets/img/button/playback.png) no-repeat -38px bottom; }
#gallery .hanging-board.playground-detail .playback:before { clear: both; }
#gallery .gallery-header { height: 120px; opacity: .8; }
#gallery .des { font-family: 'DINCondensed-Bold'; color: #fff; margin-top: -40px; font-size: 24px; text-transform: uppercase; }
#gallery .gallery-content { margin: 39px 54px 0; }
#gallery .gallery-content .emptylist { margin-top: 160px; margin-bottom: 142px; margin-left: 70px; }
#gallery .gallery-dropdown { height: 19px; width: 392px; float: right; margin-top: 26px; margin-right: 23px; }
#gallery .select-child { float: left; position: relative; cursor: pointer; }
#gallery .select-child select { width: 100%; display: block; opacity: 0; }
#gallery .select-child .text { position: absolute; line-height: 19px; text-indent: 18px; display: block; text-align: left; text-transform: uppercase; color: #000; font-size: 18px; font-family: 'gothic_821_condensed'; cursor: pointer; }
#gallery .arrow { position: absolute; right: 0; margin-right: 8px; margin-top: 4px; }
#gallery .arrow-top { background-position: 0 -8px; height: 8px; width: 12px; display: block; }
#gallery .arrow-bottom { background-position: 0 0; height: 8px; width: 12px; display: block; }
#gallery .select-title { background-position: 0 -16px; height: 19px; width: 136px; }
#gallery .select-composer { background-position: 0 -35px; height: 19px; width: 148px; }
#gallery .select-composer .arrow { margin-right: 12px; }
#gallery .select-listened { background-position: 0 -54px; height: 19px; width: 108px; }
#gallery .select-listened .arrow { margin-right: 10px; }
#gallery .down { margin-top: 19px; text-align: left; background-color: #fff; font-family: 'gothic_821_condensed'; }
#gallery .down a { text-decoration: none; color: #000; display: block; padding: 4px; padding-left: 18px; }
#gallery .gallery-list { color: #000000; font-size: 16px; margin-left: 40px; font-family: 'din_alternatebold'; margin-top: 20px; min-height: 313px; }
#gallery .gallery-list .list { margin-bottom: 10px; position: relative; cursor: pointer; -moz-transition: background-image ease-out; -o-transition: background-image ease-out; -webkit-transition: background-image ease-out; transition: background-image ease-out; }
#gallery .gallery-list .list.hover:hover { background: url("../../assets/img/bg/painted-long.png") no-repeat 32px 12px; }
#gallery .gallery-list .list > a { display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
#gallery .gallery-list .gal-img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; overflow: hidden; float: left; border: solid 2px white; height: 50px; width: 50px; }
#gallery .gallery-list .gal-img img { width: 50px; height: 50px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
#gallery .gallery-list .gal-title { float: left; margin-right: 10px; margin-top: 18px; max-height: 18px; overflow: hidden; padding-left: 34px; text-align: left; width: 120px; }
#gallery .gallery-list .gal-composer { width: 158px; float: left; margin-top: 18px; overflow: hidden; max-height: 18px; text-align-last: auto; }
#gallery .gallery-list .gal-listen { width: 46px; float: left; margin-top: 18px; }
#gallery .gallery-list .gal-play { width: 46px; margin-left: 18px; float: left; margin-top: 11px; background-position: 0 -73px; height: 32px; width: 32px; }
#gallery .gallery-list .gal-play a { display: block; background-position: 0 -73px; height: 32px; width: 32px; }
#gallery .gallery-list .gal-stop { background: url(../../assets/img/button/playback.png) no-repeat -38px top; transform: scale(0.88); width: 38px; height: 38px; margin-left: -2px; margin-top: 8px; }
#gallery .gallery-list .emptySearch { padding-top: 150px; margin-left: -40px; display: none; }
#gallery .nav { width: 220px; text-align: left; font-family: 'gothic_821_condensed'; margin-left: 50px; float: left; margin-top: 4px; }
#gallery .nav a { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; font-size: 20px; margin: 2px; color: #fff; }
#gallery .nav a:link { text-decoration: none; color: #fff; }
#gallery .nav a:hover { color: #000; }
#gallery .nav a.active { color: #000; text-decoration: underline; }
#gallery .gallery-bottom { margin-top: 16px; }
#gallery .gallery-form { z-index: 21; position: absolute; margin-left: 340px; margin-top: 4px; background-position: 0 -105px; height: 34px; width: 156px; }
#gallery .gallery-form input { margin-left: 10px; opacity: .8; width: 105px; display: block; border-width: 0; padding: 11px 0; background-color: transparent; }
#gallery .gallery-form button[type="submit"] { background-color: transparent; border-width: 0; height: 18px; width: 18px; position: absolute; text-indent: -9999px; top: 8px; right: 18px; cursor: pointer; }

/* ======= */
/* playground */
/* ======= */
@-moz-keyframes magnify { 0% { -moz-transform: scale(0.5); }
  100% { -moz-transform: scale(1); } }
@-webkit-keyframes magnify { 0% { -webkit-transform: scale(0.5); }
  100% { -webkit-transform: scale(1); } }
@keyframes magnify { 0% { transform: scale(0.5); -webkit-transform: scale(0.5); }
  100% { transform: scale(1); -webkit-transform: scale(1); } }
@-moz-keyframes music { 0% { opacity: 1; background-position: 0 0; transform: scale(1); bottom: 100px; }
  33.3% { opacity: 0; background-position: 0 0; transform: scale(2); bottom: 200px; }
  33.4% { opacity: 1; background-position: 0 -114px; transform: scale(1); bottom: 100px; }
  66.3% { opacity: 0; background-position: 0 -114px; transform: scale(2); bottom: 200px; }
  66.4% { opacity: 1; background-position: 0 -228px; transform: scale(1); bottom: 100px; }
  100% { opacity: 0; background-position: 0 -228px; transform: scale(2); bottom: 200px; } }
@-webkit-keyframes music { 0% { opacity: 1; background-position: 0 0; transform: scale(1); bottom: 100px; }
  33.3% { opacity: 0; background-position: 0 0; transform: scale(2); bottom: 200px; }
  33.4% { opacity: 1; background-position: 0 -114px; transform: scale(1); bottom: 100px; }
  66.3% { opacity: 0; background-position: 0 -114px; transform: scale(2); bottom: 200px; }
  66.4% { opacity: 1; background-position: 0 -228px; transform: scale(1); bottom: 100px; }
  100% { opacity: 0; background-position: 0 -228px; transform: scale(2); bottom: 200px; } }
@keyframes music { 0% { opacity: 1; background-position: 0 0; transform: scale(1); bottom: 100px; }
  33.3% { opacity: 0; background-position: 0 0; transform: scale(2); bottom: 200px; }
  33.4% { opacity: 1; background-position: 0 -114px; transform: scale(1); bottom: 100px; }
  66.3% { opacity: 0; background-position: 0 -114px; transform: scale(2); bottom: 200px; }
  66.4% { opacity: 1; background-position: 0 -228px; transform: scale(1); bottom: 100px; }
  100% { opacity: 0; background-position: 0 -228px; transform: scale(2); bottom: 200px; } }
@-moz-keyframes glow { 0% { opacity: 1; background-position: 0 0; }
  50% { opacity: 0; background-position: 0 0; }
  50.1% { opacity: 1; background-position: 0 -50px; }
  100% { opacity: 0; background-position: 0 -50px; } }
@-webkit-keyframes glow { 0% { opacity: 1; background-position: 0 0; }
  50% { opacity: 0; background-position: 0 0; }
  50.1% { opacity: 1; background-position: 0 -50px; }
  100% { opacity: 0; background-position: 0 -50px; } }
@keyframes glow { 0% { opacity: 1; background-position: 0 0; }
  50% { opacity: 0; background-position: 0 0; }
  50.1% { opacity: 1; background-position: 0 -50px; }
  100% { opacity: 0; background-position: 0 -50px; } }
@-moz-keyframes tobig { 0% { transform: scale(1); }
  100% { transform: scale(1.5); } }
@-webkit-keyframes tobig { 0% { transform: scale(1); }
  100% { transform: scale(1.5); } }
@keyframes tobig { 0% { transform: scale(1); }
  100% { transform: scale(1.5); } }
@-moz-keyframes splash { 0% { opacity: 0; }
  50% { opacity: .7; }
  100% { opacity: 0; } }
@-webkit-keyframes splash { 0% { opacity: 0; }
  50% { opacity: .7; }
  100% { opacity: 0; } }
@keyframes splash { 0% { opacity: 0; }
  50% { opacity: .7; }
  100% { opacity: 0; } }
@keyframes dropping { 0% { transform: translateY(-200px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; } }
@-webkit-keyframes dropping { 0% { transform: translateY(-200px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; } }
@-moz-keyframes dropping { 0% { transform: translateY(-200px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; } }
@-moz-keyframes count { 0% { opacity: 1; }
  99.9% { opacity: 1; }
  100% { opacity: 0; } }
@-webkit-keyframes count { 0% { opacity: 1; }
  99.9% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes count { 0% { opacity: 1; }
  99.9% { opacity: 1; }
  100% { opacity: 0; } }
#itemholder { width: 100%; height: 100%; position: absolute; }
#itemholder .item { height: 255px; width: 150px; position: absolute; z-index: 6; margin-left: -80px; margin-top: -220px; -webkit-animation: magnify .5s; -moz-animation: magnify .5s; -o-animation: magnify .5s; animation: magnify .5s; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }
#itemholder .item.cranberry { background-position: 0 -510px; height: 255px; width: 150px; }
#itemholder .item.british { background-position: 0 -255px; height: 255px; width: 150px; }
#itemholder .item.mint { background-position: 0 -1275px; height: 255px; width: 150px; }
#itemholder .item.blackmint { background-position: 0 0; height: 255px; width: 150px; }
#itemholder .item.lemon { background-position: 0 -765px; height: 255px; width: 150px; }
#itemholder .item.lemonlime { background-position: 0 -1020px; height: 255px; width: 150px; }
#itemholder .item.raspberry { background-position: 0 -1530px; height: 255px; width: 150px; }
#itemholder .item.walnut { background-position: 0 -1785px; height: 255px; width: 150px; }
#itemholder .item.butter { background-position: 0 -2040px; height: 255px; width: 150px; }
#itemholder .item.lime { background-position: 0 -2295px; height: 255px; width: 150px; }
#itemholder .item.spearmint { background-position: 0 -2550px; height: 255px; width: 150px; }

/* ======== */
/* detail */
/* ======== */
.bottom-things { width: 540px; height: 85px; position: absolute; bottom: 36px; left: 0; right: 0; margin: 0 auto; }
.bottom-things span { position: absolute; }
.bottom-things .lemon_f { background: url(../../assets/img/bg/lemon.png) no-repeat center; width: 130px; height: 49px; right: 0; }
.bottom-things .vanilla_f { background: url(../../assets/img/bg/vanilla.png) no-repeat center; width: 69px; height: 41px; left: 0; }
.bottom-things .raspberry_f { background: url(../../assets/img/bg/raspberry.png) no-repeat center; width: 89px; height: 50px; left: 160px; }

.product { position: absolute; left: 151px; right: 0; margin: 0 auto; bottom: 165px; width: 555px; height: 420px; z-index: 1; }
.product.active .dropzone { background: #ff0; opacity: .6; }
.product.active .dropzone.occupied, .product.active .dropzone.hover.occupied { opacity: 1; background: red; }
.product .dropzone { width: 301px; height: 98px; position: absolute; border-radius: 50%; margin-left: -151px; }
.product .dropzone.hover::after { content: ""; width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0; z-index: -3; background-position: 0 -490px; }
.product .dropzone.occupied .glow, .product .dropzone.occupied .music, .product .dropzone.occupied .splash { display: block; }
.product .dropzone.hover::after { content: ""; width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0; z-index: -3; background-position: 0 -490px; }
.product .dropzone .glow, .product .dropzone .music, .product .dropzone .splash { display: none; position: absolute; pointer-events: none; }
.product .dropzone .glow { display: block; background-size: center; width: 115px; height: 50px; position: absolute; left: 0; top: 0; left: 50%; margin: 0 0 20px -75px; z-index: 5; background: url(../../assets/img/glow.png) no-repeat; -webkit-animation: glow 1s infinite linear; -moz-animation: glow 1s infinite linear; -o-animation: glow 1s infinite linear; animation: glow 1s infinite linear; }
.product .dropzone .music { background-size: center; background: url(../../assets/img/music.png) no-repeat; width: 120px; height: 114px; z-index: 9; opacity: 1; bottom: 100px; left: 50%; margin: 0 0 20px -60px; -webkit-animation: music 5.806s infinite linear; -moz-animation: music 5.806s infinite linear; animation: music 5.806s infinite linear; }
.product .dropzone .splash { width: 300px; height: 183px; bottom: -15px; left: -15px; animation: tobig 1s linear .3s; -webkit-animation: tobig 1s linear .3s; -moz-animation: tobig 1s linear .3s; }
.product .dropzone .splash div { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; }
.product .dropzone .splash .splash1 { background-position: 0 0; animation: splash .3s linear .3s; -moz-animation: splash .3s linear .3s; -webkit-animation: splash .3s linear .3s; }
.product .dropzone .splash .splash2 { background-position: 0 -183px; animation: splash .3s linear .4s; -moz-animation: splash .3s linear .4s; -webkit-animation: splash .3s linear .4s; }
.product .dropzone .splash .splash3 { background-position: 0 -366px; animation: splash .3s linear .5s; -moz-animation: splash .3s linear .5s; -webkit-animation: splash .3s linear .5s; }
.product .dropzone .splash .splash4 { background-position: 0 -549px; animation: splash .3s linear .6s; -moz-animation: splash .3s linear .6s; -webkit-animation: splash .3s linear .6s; }
.product .dropzone .splash .splash5 { background-position: 0 -732px; animation: splash .3s linear .7s; -moz-animation: splash .3s linear .7s; -webkit-animation: splash .3s linear .7s; }
.product .dropzone .splash .splash6 { background-position: 0 -915px; animation: splash .3s linear .8s; -moz-animation: splash .3s linear .8s; -webkit-animation: splash .3s linear .8s; }
.product .dropzone .splash .splash7 { background-position: 0 -1098px; animation: splash .3s linear .9s; -moz-animation: splash .3s linear .9s; -webkit-animation: splash .3s linear .9s; }
.product .dropzone .item { /* bottom: 15px; */ left: 64px; bottom: 49px; animation: dropping .3s linear; -moz-animation: dropping .3s linear; -webkit-animation: dropping .3s linear; }
.product .dropzone .item.transparent { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.product .dropzone .item.active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.product .dropzone .bar { top: 260px; left: 28px; position: absolute; bottom: 0; width: 90px; height: 7px; background-color: #004d37; border: 3px solid #008f67; border-radius: 7px; }
.product .dropzone .bar span { position: relative; height: 7px; border-radius: 7px; background: #00de83; width: 0; display: block; }
.product .dropzone .animate { z-index: -1; width: 261px; height: 65px; display: block; position: absolute; bottom: -3px; margin-left: -130px; left: 50%; }
.product .dropzone .animate.stop-animation { -moz-animation: none; -webkit-animation: none; animation: none; }
.product .dz1 { top: 236px; left: 13px; -web-transform: scale(0.83); -moz-transform: scale(0.83); -o-transform: scale(0.83); transform: scale(0.83); background-position: 0 0; }
.product .dz1 .water { top: -270px; left: -86px; }
.product .dz2 { top: 226px; left: 217px; -web-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); background-position: 0 -98px; }
.product .dz2 .water { top: -270px; left: -85px; }
.product .dz3 { top: 215px; left: 418px; -web-transform: scale(0.78); -moz-transform: scale(0.78); -o-transform: scale(0.78); transform: scale(0.78); background-position: 0 -196px; }
.product .dz3 .water { top: -270px; left: -85px; }
.product .dz4 { top: 320px; left: 113px; -web-transform: scale(0.95); -moz-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); background-position: 0 -294px; z-index: 4; }
.product .dz4 .water { top: -270px; left: -85px; }
.product .dz5 { top: 320px; left: 317px; z-index: 5; -web-transform: scale(0.95); -moz-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); background-position: 0 -392px; }
.product .dz5 .water { top: -270px; left: -85px; }
.product .item { position: absolute; height: 255px; width: 150px; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.product .item.cranberry { background: url(../../assets/img/product/bottle_cranberry.png) no-repeat; }
.product .item.british { background: url(../../assets/img/product/bottle_british.png) no-repeat; }
.product .item.mint { background: url(../../assets/img/product/bottle_mint.png) no-repeat; }
.product .item.lemon { background: url(../../assets/img/product/bottle_lemon.png) no-repeat; }
.product .item.blackmint { background: url(../../assets/img/product/bottle_blackmint.png) no-repeat; }
.product .item.lemonlime { background: url(../../assets/img/product/bottle_lemonlime.png) no-repeat; }
.product .item.raspberry { background: url(../../assets/img/product/bottle_raspberry.png) no-repeat; }
.product .item.walnut { background: url(../../assets/img/product/bottle_walnut.png) no-repeat; }
.product .item.butter { background: url(../../assets/img/product/packshot_butter.png) no-repeat; background-position: 0 10px; }
.product .item.lime { background: url(../../assets/img/product/packshot_lime.png) no-repeat; background-position: 0 20px; }
.product .item.spearmint { background: url(../../assets/img/product/packshot_spearmint.png) no-repeat; background-position: 0 10px; }

#detail h3 { font-size: 30px; line-height: 30px; margin: 12px 0 3px; /* text-align: left; */ text-transform: none; }
#detail .hanging-board.playground-detail { /* width: 597px;
margin-left: -298px; */ width: 567px; margin-left: -281px; }
#detail .hanging-board.playground-detail .detail { position: absolute; margin-top: 200px; margin-left: calc((100% / 2) - 100px); }
#detail .hanging-board.playground-detail > div { height: 261px; /* background: url(../../assets/img/bg/board-playground-top.png) left top no-repeat; */ background: url(../../assets/img/bg/parts/board-reg.png) center top no-repeat; box-sizing: border-box; padding: 50px 70px 20px 70px; z-index: 2; }
#detail .hanging-board.playground-detail > div h2 { float: left; margin: -55px 0 0 30px; max-height: 142px; overflow: hidden; text-align: right; font-size: 30px; }
#detail .hanging-board.playground-detail > div h2::after { clear: both; }
#detail .hanging-board.playground-detail .social { display: inline-block; position: absolute; right: -50px; z-index: 1; }
#detail .hanging-board.playground-detail .social.fb { top: 110px; background-position: 0 0; height: 78px; width: 82px; bottom: 43px; }
#detail .hanging-board.playground-detail .social.tweet { top: 161px; background-position: 0 -384px; height: 78px; width: 82px; bottom: -8px; }
#detail .hanging-board.playground-detail .meta { overflow: hidden; position: relative; float: left; margin: 68px 0 0 -250px; text-align: center; min-width: 50px; }
#detail .hanging-board.playground-detail a.user-photo { margin-top: -14px; float: left; /* width: 75px;
height: 75px;
float: left; */ display: inline-block; background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; border: 3px solid #46cfa8; box-sizing: border-box; width: 55px; min-height: 55px; }
#detail .hanging-board.playground-detail a.user-photo > img { width: 100%; border-radius: 50%; border: 3px solid #46cfa8; box-sizing: border-box; }
#detail .hanging-board.playground-detail .right { /* float: left; */ margin-top: 105px; height: 52px; overflow: hidden; }
#detail .hanging-board.playground-detail .right .song-title { color: #fff; font-size: 22px; line-height: 26px; }
#detail .hanging-board.playground-detail .right .song-title::before { background-position: 0 -78px; height: 17px; width: 12px; content: ""; display: inline-block; margin: 0px 6px -2px 0px; transform: scale(1.2); }
#detail .hanging-board.playground-detail .play-slider { width: 300px; height: 9px; display: inline-block; position: absolute; float: left; }
#detail .hanging-board.playground-detail .play-slider .progressbar { width: 300px; }
#detail .hanging-board.playground-detail .play-slider .progressbar.brown { background-color: #a06a3e; border-radius: 4.5px; -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); }
#detail .hanging-board.playground-detail .play-slider .progressbar.green { z-index: 3; width: 0%; background-color: #46cfa8; border-radius: 4.5px; -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.85); }
#detail .hanging-board.playground-detail .play-wrapper { position: relative; margin: 0 auto 20px auto; padding-top: 10px; overflow: hidden; }
#detail .hanging-board.playground-detail .play-wrapper span { font-size: 16px; color: #4c3215; float: right; margin: -4px 0 0 0; font-family: 'gothic_821_condensed'; }
#detail .hanging-board.playground-detail .play-wrapper > div { width: 405px; position: relative; }
#detail .hanging-board.playground-detail .play-wrapper:after { clear: both; }
#detail .hanging-board.playground-detail .playback { height: 90px; text-align: left; margin: 84px 0 0; }
#detail .hanging-board.playground-detail .playback a { cursor: context-menu; width: 65px; display: inline-block; }
#detail .hanging-board.playground-detail .playback span { width: 38px; height: 38px; display: inline-block; }
#detail .hanging-board.playground-detail .playback .play { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat left top; }
#detail .hanging-board.playground-detail .playback .play.active { background: url(../../assets/img/button/playback.png) no-repeat left -38px; }
#detail .hanging-board.playground-detail .playback .stop { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat -38px top; }
#detail .hanging-board.playground-detail .playback .stop.active { background: url(../../assets/img/button/playback.png) no-repeat -38px bottom; }
#detail .hanging-board.playground-detail .playback .prev { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat -76px bottom; }
#detail .hanging-board.playground-detail .playback .prev:hover { background: url(../../assets/img/button/playback.png) no-repeat -76px -38px; }
#detail .hanging-board.playground-detail .playback .prev.active { background: url(../../assets/img/button/playback.png) no-repeat -76px top; }
#detail .hanging-board.playground-detail .playback .next { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat -114px bottom; }
#detail .hanging-board.playground-detail .playback .next:hover { background: url(../../assets/img/button/playback.png) no-repeat -114px -38px; }
#detail .hanging-board.playground-detail .playback .next.active { background: url(../../assets/img/button/playback.png) no-repeat -114px top; }
#detail .hanging-board.playground-detail .playback .shuffle { cursor: pointer; background: url(../../assets/img/button/playback.png) no-repeat -152px bottom; }
#detail .hanging-board.playground-detail .playback .shuffle:hover { background: url(../../assets/img/button/playback.png) no-repeat -152px -38px; }
#detail .hanging-board.playground-detail .playback .shuffle.active { background: url(../../assets/img/button/playback.png) no-repeat -152px top; }
#detail .hanging-board.playground-detail .playback:before { clear: both; }
#detail .hanging-board.playground-detail .backtogallery { background: url(../../assets/img/button/backtogallery.png) no-repeat; width: 122px; height: 32px; position: absolute; bottom: 35px; right: 60px; }

/* ======= */
/* playground */
/* ======= */
/* Chrome, Safari, Opera */
@-webkit-keyframes bg { 0% { background-image: url(../../assets/img/sprite/glow/glow-1.png); opacity: 1; }
  25% { background-image: url(../../assets/img/sprite/glow/glow-1.png); opacity: 0; }
  50% { background-image: url(../../assets/img/sprite/glow/glow-2.png); opacity: 1; }
  100% { background-image: url(../../assets/img/sprite/glow/glow-2.png); opacity: 0; } }
.loopbg { background: url(../../assets/img/sprite/draghover/1.png) no-repeat center; background-repeat: no-repeat; background-position: center; -moz-animation: bg 0.8s linear infinite; -webkit-animation: bg 0.8s linear infinite; animation: bg 0.8s linear infinite; }

#playground .tutorial { width: 1000px; margin: 0 auto; position: relative; }
#playground .tutorial .logo { display: none; z-index: 22; position: absolute; left: -126px; top: 0; height: 270px; }
#playground .tutorial .how { background: url(../../assets/img/bg/board-2.png) bottom no-repeat; width: 195px; height: 100px; position: absolute; top: 266px; left: 15px; text-align: center; text-transform: uppercase; font-family: 'gothic_821_condensed'; font-size: 21pt; line-height: 3; z-index: 21; cursor: pointer; }
#playground .tutorial .how:hover { color: #fff; }
#playground .tutorial .wrapper-tutorial { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: opacity 1s ease; -o-transition: opacity 1s ease; -webkit-transition: opacity 1s ease; transition: opacity 1s ease; z-index: -1; width: 601px; height: 708px; position: absolute; left: 211px; text-align: center; text-transform: uppercase; font-family: 'gothic_821_condensed'; font-size: 21pt; line-height: 3; top: -120px; /* .close:after {
	content: "";
	width: 195px;
	height: 105px;
	
	z-index: -2;
	position: absolute;
	left: 0;
} */ }
#playground .tutorial .wrapper-tutorial .tutorialBG { height: 100%; width: 100%; top: 0; left: 0; position: absolute; background: url(../../assets/img/bg/board-tutorial.png) no-repeat; z-index: initial; }
#playground .tutorial .wrapper-tutorial h1 { left: 160px; top: 88px; position: absolute; font-size: 38pt; }
#playground .tutorial .wrapper-tutorial > div { text-align: center; float: left; top: 198px; left: 50px; padding: 0px 20px 60px 20px; width: 120px; height: 150px; opacity: .9; font-size: 12pt; position: relative; line-height: 18px; }
#playground .tutorial .wrapper-tutorial > div .tutor { -moz-transform: scale(0.6); -ms-transform: scale(0.6); -webkit-transform: scale(0.6); transform: scale(0.6); }
#playground .tutorial .wrapper-tutorial > div:nth-child(3) .numeric { margin-left: calc(50% - 17px); background-position: 0 0; height: 34px; width: 34px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(3) .tutor { background-position: 0 -204px; height: 113px; width: 114px; margin: 10px 0; margin-left: 20px; margin-bottom: -7px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(4) .numeric { margin-left: calc(50% - 17px); background-position: 0 -34px; height: 34px; width: 34px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(4) .tutor { background-position: 0 -317px; height: 136px; width: 121px; margin: 0 0 -3px 0; margin-bottom: -20px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(5) .numeric { margin-left: calc(50% - 17px); background-position: 0 -68px; height: 34px; width: 34px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(5) .tutor { background-position: 0 -453px; height: 154px; width: 117px; margin: -20px 0 0 6px; margin-bottom: -20px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(6) .numeric { margin-left: calc(50% - 17px); background-position: 0 -102px; height: 34px; width: 34px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(6) .tutor { background-position: 0 -607px; height: 140px; width: 223px; margin: -13px 0 -5px -50px; margin-bottom: -20px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(7) .numeric { margin-left: calc(50% - 17px); background-position: 0 -136px; height: 34px; width: 34px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(7) .tutor { background-position: 0 -747px; height: 92px; width: 86px; margin: 12px 0 18px 16px; margin-bottom: 3px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(8) .numeric { margin-left: calc(50% - 17px); background-position: 0 -170px; height: 34px; width: 34px; }
#playground .tutorial .wrapper-tutorial > div:nth-child(8) .tutor { background-position: 0 -839px; height: 118px; width: 136px; margin: 2px 0 1px -8px; margin-bottom: -13px; }
#playground .tutorial .wrapper-tutorial > div:before { clear: both; }
#playground .tutorial .wrapper-tutorial > div.last-copy { clear: both; float: none; margin-right: 135px; width: auto; height: 0; }
#playground .tutorial .wrapper-tutorial .close { width: 195px; height: 105px; position: absolute; background: url(../../assets/img/bg/board-2.png) bottom no-repeat; top: 699px; left: 190px; text-align: center; text-transform: uppercase; font-size: 21pt; line-height: 3; padding: 0; cursor: pointer; z-index: -1; }
#playground .tutorial .wrapper-tutorial .close:hover { color: #fff; }
#playground .tutorial .wrapper-tutorial.active { opacity: 1; z-index: 21; }
#playground .tutorial .wrapper-tutorial.show { display: block; }
#playground .hanging-board { width: 626px; margin-left: -310px; text-align: center; z-index: 10; }
#playground .hanging-board > div { height: 210px; top: 10px; }
#playground .hanging-board > div form { position: absolute; top: 100px; left: 84px; }
#playground .hanging-board > div form .saveInput { display: block; width: 454px; height: 30px; margin: 0 auto 30px; background: url(../../assets/img/bg/text-input-title.png) left top no-repeat; position: relative; }
#playground .hanging-board > div form .saveInput input[type='text'] { display: block; width: 430px; border: 0; padding: 10px 12px; background: transparent; outline: none; color: #9e693a; }
#playground .hanging-board a { cursor: pointer; }
#playground .hanging-board .btn { color: #4c3215; font-size: 16pt; }
#playground .hanging-board .btn.standing { cursor: pointer; padding: 20px 2px 0 0; margin: 0 10px; top: 121px; z-index: 2; }
#playground .hanging-board .rec-wrapper .beat { position: relative; font-size: 18px; font-weight: bold; text-align: center; color: #FFDF00; border-radius: 100%; display: block; width: 13px; height: 13px; background-position: 0 0; height: 13px; width: 13px; float: left; margin: 60px 0 60px 68px; background-size: cover; }
#playground .hanging-board .rec-wrapper .beat.on { background-position: 0 -26px; height: 13px; width: 13px; }
#playground .hanging-board .rec-wrapper .beat.on.bar { background-position: 0 -13px; height: 13px; width: 13px; }
#playground .hanging-board .rec-wrapper .btn { width: 40px; left: 96px; top: 50px; position: absolute; }
#playground .hanging-board .rec-wrapper .btn .record { position: relative; font-size: 18px; font-weight: bold; padding-top: 5px; text-align: center; color: #FFDF00; border-radius: 100%; display: block; width: 30px; height: 25px; background: url(../../assets/img/button/rec.png) top no-repeat; float: left; cursor: pointer; margin: 0 5px 10px 5px; background-size: cover; }
#playground .hanging-board .rec-wrapper .btn .record.stop { margin: -5px 5px 2px -1px; }
#playground .hanging-board .rec-wrapper .btn .play { display: block; width: 38px; height: 38px; background: url(../../assets/img/button/playback.png) no-repeat left top; float: left; cursor: pointer; margin: -5px 5px 10px -11px; }
#playground .hanging-board .rec-wrapper .btn .stop { display: block; width: 38px; height: 38px; background: url(../../assets/img/button/playback.png) no-repeat -38px top; float: left; cursor: pointer; margin: -5px 5px 10px -11px; }
#playground .hanging-board .rec-wrapper .btn span { font-size: 12px; display: block; float: left; margin: 0; position: relative; z-index: 3000; font-size: 16px; font-weight: bold; }
#playground .hanging-board .rec-wrapper .play-wrapper { display: block; top: 60px; float: left; width: 340px; height: 9px; position: absolute; left: 143px; }
#playground .hanging-board .rec-wrapper .play-wrapper .back { width: 100%; height: 100%; background: url(../../assets/img/bg/timeline.png) left top no-repeat; background-size: 340px 18px; position: absolute; }
#playground .hanging-board .rec-wrapper .play-wrapper .front { width: 0%; height: 100%; /* background: url(../../assets/img/bg/timeline.png) left bottom no-repeat; */ background-color: #00FFB6; border-radius: 4.5px 4.5px; opacity: 0.5; background-size: 340px 18px; position: relative; -webkit-transition: 1s all linear; -moz-transition: 1s all linear; -ms-transition: 1s all linear; -o-transition: 1s all linear; transition: 1s all linear; }
#playground .hanging-board .rec-wrapper .play-wrapper .notransition { -webkit-transition: none !important; -moz-transition: none !important; -o-transition: none !important; -ms-transition: none !important; transition: none !important; }
#playground .hanging-board .rec-wrapper .time-wrapper { position: absolute; font-size: 20px; font-weight: bold; display: block; float: left; top: 53px; margin-left: 500px; color: #4c3215; }
#playground .bottom-things { width: 540px; height: 85px; position: absolute; bottom: 36px; left: 0; right: 0; margin: 0 auto; }
#playground .bottom-things span { z-index: 8; position: absolute; margin-top: 25px; }
#playground .bottom-things .lemon_f { background: url(../../assets/img/bg/lemon.png) no-repeat center; width: 130px; height: 49px; right: 20px; }
#playground .bottom-things .vanilla_f { background: url(../../assets/img/bg/vanilla.png) no-repeat center; width: 69px; height: 41px; left: 30px; }
#playground .bottom-things .raspberry_f { background: url(../../assets/img/bg/raspberry.png) no-repeat center; width: 89px; height: 50px; left: 160px; }
#playground .bottom-things .slider { transform-style: flat; margin-top: -54px; }
#playground .bottom-things .slider .btn { position: absolute; top: -20px; z-index: 5; margin: 0; padding: 0; -moz-transform: scale(0.8, 0.8); -ms-transform: scale(0.8, 0.8); -webkit-transform: scale(0.8, 0.8); transform: scale(0.8, 0.8); }
#playground .bottom-things .slider .left { left: 10px; background-position: 0 -264px; height: 60px; width: 72px; }
#playground .bottom-things .slider .left:hover { background-position: 0 -324px; height: 60px; width: 72px; }
#playground .bottom-things .slider .right { right: 5px; background-position: 0 -95px; height: 60px; width: 72px; }
#playground .bottom-things .slider .right:hover { background-position: 0 -155px; height: 60px; width: 72px; }
#playground .bottom-things .list { z-index: 7; position: absolute; margin-top: -24px; width: 340px; margin-left: 94px; height: 150px; padding: 0 10px; overflow: hidden; }
#playground .bottom-things .list .slide-product { position: relative; white-space: nowrap; height: 100%; -moz-transition: margin 0.6s ease-out; -o-transition: margin 0.6s ease-out; -webkit-transition: margin 0.6s ease-out; transition: margin 0.6s ease-out; }
#playground .bottom-things .list .slide-product .item { backface-visibility: hidden; margin: -44px -58px 0 -26px; right: 20px; z-index: 6; white-space: normal; display: inline-block; position: relative; cursor: pointer; -moz-transition: all 0.1s ease-out; -o-transition: all 0.1s ease-out; -webkit-transition: all 0.1s ease-out; transition: all 0.1s ease-out; -moz-transform: scale(0.3); -ms-transform: scale(0.3); -webkit-transform: scale(0.3); transform: scale(0.3); /* @include transform-origin( scale(0)); */ }
#playground .bottom-things .list .slide-product .item:hover { -moz-transform: scale(0.45); -ms-transform: scale(0.45); -webkit-transform: scale(0.45); transform: scale(0.45); width: 50px; height: 140px; }
#playground .bottom-things .list .slide-product .item:after { content: ""; background: url(../../assets/img/floating-shadow.png) no-repeat center; background-size: cover; width: 161px; height: 65px; display: block; position: absolute; top: 224px; margin-left: -80px; left: 50%; z-index: -5; }
#playground .bottom-things .list .slide-product .item:after:hover { content: inherit; }
#playground .bottom-things .list .slide-product .item.cranberry { background-position: 0 -510px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.british { background-position: 0 -255px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.mint { background-position: 0 -1275px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.blackmint { background-position: 0 0; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.lemon { background-position: 0 -765px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.lemonlime { background-position: 0 -1020px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.raspberry { background-position: 0 -1530px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.walnut { background-position: 0 -1785px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.butter { background-position: 0 -2040px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.lime { background-position: 0 -2295px; height: 255px; width: 150px; }
#playground .bottom-things .list .slide-product .item.spearmint { background-position: 0 -2550px; height: 255px; width: 150px; }

/* Preloader */
#jpreOverlay, #qLoverlay { background-color: #000; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 11; }

#jpreSlide { font-size: 22px; font-weight: 700; color: #FFF; text-align: center; width: 100%; }

#jpreLoader, #qLloader { width: 448px; height: 69px; background: url("../images/loader_logo.jpg") 0 100% no-repeat; position: fixed; top: 43%; left: 50%; margin-left: 0px; margin-top: -300px; }

#jpreBar, #qLbar { width: 448px; height: 0; position: absolute; bottom: 0; background: url("../images/loader_logo.jpg") 100px 100% no-repeat; }

#jprePercentage, #qLpercentage { color: #888; text-align: center; position: absolute; height: 30px; width: 100px; margin-top: 40px; }

@media screen and (max-height: 758px) { .privacy { height: calc(100% - 120px); }
  .privacy .privacy-wrapper { height: calc(100% - 260px); }
  .privacy .close { top: initial; bottom: -105px; }
  .syarat { height: calc(100% - 120px); }
  .syarat .syarat-wrapper { height: calc(100% - 260px); }
  .syarat .close { top: initial; bottom: -105px; }
  .wrapper-tutorial { height: 688px; }
  .wrapper-tutorial .close { top: 688px; } }
@media screen and (max-width: 1000px) { .orn.left { left: calc((840px / 2) * -1); }
  .orn.right { right: calc((840px / 2) * -1); } }
