&.cranberry{
	@include product-sprite(bottle_cranberry,true);
}
&.british{
	@include product-sprite(bottle_british,true);
}
&.mint{
	@include product-sprite(bottle_mint,true);
}
&.blackmint{
	@include product-sprite(bottle_blackmint,true);
}
&.lemon{
	@include product-sprite(bottle_lemon,true);
}
&.lemonlime{
	@include product-sprite(bottle_lemonlime,true);
}
&.raspberry{
	@include product-sprite(bottle_raspberry,true);
}
&.walnut{
	@include product-sprite(bottle_walnut,true);
}
&.butter{
	@include product-sprite(packshot_butter,true);
}
&.lime{
	@include product-sprite(packshot_lime,true);
}
&.spearmint{
	@include product-sprite(packshot_spearmint,true);
}