@import 'compass';
@import "bg/sprt/*.png";
@import "icon/*.png";
@import "tutor/*.png";
@import "product/*.png";
@import "sprite/splash/*.png";
@import "sprite/count/*.png";
@import "teratai/*.png";
@import "sprite/beat/*.png";
// @import "libs";
// Usage:	@include parts-sprite(image-name, true);
/* ============ */
/* CUSTOM FONTS */
/* ============ */
@font-face {
    font-family: 'din_alternateregular';
    src: url('../fonts/din_alternate-webfont.eot');
    src: url('../fonts/din_alternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din_alternate-webfont.woff2') format('woff2'),
         url('../fonts/din_alternate-webfont.woff') format('woff'),
         url('../fonts/din_alternate-webfont.ttf') format('truetype'),
         url('../fonts/din_alternate-webfont.svg#din_alternateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din_alternatebold';
    src: url('../fonts/din_alternate_bold-webfont.eot');
    src: url('../fonts/din_alternate_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din_alternate_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_alternate_bold-webfont.woff') format('woff'),
         url('../fonts/din_alternate_bold-webfont.ttf') format('truetype'),
         url('../fonts/din_alternate_bold-webfont.svg#din_alternatebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothic_821_condensed';
    src: url('../fonts/gothic_821_condensed-webfont.eot');
    src: url('../fonts/gothic_821_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothic_821_condensed-webfont.woff2') format('woff2'),
         url('../fonts/gothic_821_condensed-webfont.woff') format('woff'),
         url('../fonts/gothic_821_condensed-webfont.ttf') format('truetype'),
         url('../fonts/gothic_821_condensed-webfont.svg#gothic_821_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:'DINCondensed-Bold';
	src: url('../fonts/DINCondensed-Bold_latin+latin-ext_gdi.eot');
	src: url('../fonts/DINCondensed-Bold_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINCondensed-Bold_latin+latin-ext_gdi.woff') format('woff'),
		url('../fonts/DINCondensed-Bold_latin+latin-ext_gdi.ttf') format('truetype'),
		url('../fonts/DINCondensed-Bold_latin+latin-ext_gdi.svg#DINCondensed-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-2215;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

/* ========= */
/* CSS RESET */
/* ========= */
body, html {width:100%; height:100%; margin:0; padding:0; font-family:din_alternateregular, Arial, Helvetica, sans-serif; font-size:16px; color:#000; background:#fff;}
p, h1, h2, h3, h4, h5, h6 {margin:0; font-weight:normal;cursor: default;}
ul, ol {list-style-type:none; margin:0; padding:0;}
a {cursor:pointer;}
a img {border:none;}
input, textarea {outline:none;}
textarea {resize:none; overflow:auto;}
strong {font-weight:bold;}
em {font-style:italic;}
u {text-decoration:underline;}
span {cursor: default;}

// *{
// 	-webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }


*:not(input.field) {    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =============== */
/* GENERAL CLASSES */
/* =============== */
h1 {
}
h2 {
	font-size:50px;
	line-height:140px;
	color:#000;
	font-family:'gothic_821_condensed';
	text-transform:uppercase;
	margin-bottom:40px;
}
h3 {
	font-size:30px;
	line-height:70px;
	color:#000;
	font-family:'gothic_821_condensed';
	text-transform:uppercase;
	margin-bottom:0;
}

ol.dec {
	padding-left:20px;
	list-style-type:decimal;
}
ol.lowalpha {
	padding-left:20px;
	list-style-type:lower-alpha;
}
ol.alpha {
	padding-left:20px;
	list-style-type:upper-alpha;
}
ul.disc {
	padding-left:20px;
	list-style-type:disc;
}
ol.circle {
	padding-left:20px;
	list-style-type:circle;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

[data-hide="true"]{
	display: none;
}

[data-hide="false"]{
	display: block;
}

.wrapper {width:1000px; min-height:100%; margin:0 auto; position:relative;}

.outlined {
	text-shadow:
	  -1px 0px 0 #fff,
	 -1px -1px 0 #fff,
	  0px -1px 0 #fff,
	  1px -1px 0 #fff,
	   1px 0px 0 #fff,
	   1px 1px 0 #fff,
	   0px 1px 0 #fff,
	  -1px 1px 0 #fff;
}

/* ------------ buttons ------------ */

.btn {
	@include transition( color .2s ease-out);
	display:inline-block;
	margin:0;
	padding:0;
	background:none;
	border:none;
	outline:none;
	text-decoration:none;
	cursor:pointer;
	position:relative;
	input {
		display:block;
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		border:none;
		outline:none;
		position:absolute;
		left:0;
		top:0;
		opacity:0;
		filter:alpha(opacity=0);
		cursor:pointer;
	}
	&.notext {
		text-indent:-9999px;
	}
	&.hanging {
		width:200px;
		height:69px;
		padding:67px 5px 0 0;
		background:url('../img/button/hanging.png') no-repeat;
		text-align:center;
		font-family:'gothic_821_condensed';
		font-size:26px;
		color:#000;
		text-transform:uppercase;
	}
	&.in-gallery{
		left: 50%;
		margin-left: -100px;
		position: absolute;
		top: 522px;		
		&:hover {
			color: #fff;
		}
	}
	&.standing {
		width:117px;
		height:40px;
		padding:67px 5px 0 0;
		text-align:center;
		font-family:'gothic_821_condensed';
		font-size: 20px;
		color:#000;
		text-transform:uppercase;
		&.down {
			&.left {
				background:url('../img/button/standing.png') left bottom no-repeat;
			}
			&.right {
				background:url('../img/button/standing.png') right bottom no-repeat;
			}
		}
		&.up {
			&.left {
				background:url('../img/button/standing.png') left top no-repeat;
			}
			&.right {
				background:url('../img/button/standing.png') right top no-repeat;
			}
		}
	}
	&.alt {
		width:211px;
		height:81px;
		padding:92px 0 0;
		background:url('../img/button/hanging2.png') no-repeat;
		text-align:center;
		font-family:'gothic_821_condensed';
		font-size:30px;
		color:#000;
		text-transform:uppercase;
	}
	&.fbshare {
		width:58px;
		height:51px;
		background:#0e3a7d url('../img/icon/fb.png') top left no-repeat;
	}
	&.twitshare {
		width:58px;
		height:51px;
		background:#3da8e6 url('../img/icon/twit.png') top left no-repeat;
	}
}

/* ------------ custom radio & checkbox ------------ */

label.radio {display:inline-block; margin-right:20px; line-height:33px; background:url(../../assets/img/button/radio.gif) no-repeat; overflow:auto; cursor:pointer;}
label.radio.checked {background-position:0px -33px;}
label.radio input {margin:0 3px 0 0; float:left; opacity:0; filter:alpha(opacity=0);}
label.radio span {display:inline-block; margin-left:25px;}

label.checkbox {display:inline-block; width:450px; margin-left:100px; font-size:20px; line-height:25px; font-family:'DINCondensed-Bold'; letter-spacing:0; background:url(../../assets/img/button/check.png) 0px 5px no-repeat; overflow:auto; cursor:pointer; text-align:left;}
label.checkbox.checked {background-position:0px -95px;}
label.checkbox input {margin:0 3px 0 0; float:left; opacity:0; filter:alpha(opacity=0);}
label.checkbox span {display:inline-block; margin-left:10px;}
label.checkbox span a {color:#fff;}

/* ------------ custom alert ------------ */

.err-alert {
	display:none; margin:-47px 0 0 -162px; padding:10px; background:#cc0000;
	position:fixed; left:50%; top:50%; z-index:92;
	font-size:14px; color:#fff; text-align:center;
	.inner {
		width:270px; height:55px;
		padding: 15px 15px 0;
		border:solid 2px #fff;
	}
	.dismiss {
		display:none;
		position: absolute; left: 0; right: 0; bottom: -2px;
		font-size: 10px; text-align: center;
		opacity: 0.7; filter:alpha(opacity=70);
	}
	&.dismissable .dismiss {
		display:block;
	}
}

/* ------------ loading overlay ------------ */

.nowloading {
	display:none;
	position:fixed; left:0; right:0; top:0; bottom:0;
	background:#000; opacity:0.5; filter:alpha(opacity=50);
	z-index:98;
	-webkit-transform:translateZ(1px);
}
.nowloading-icon {
	display:none; width:120px; height:120px; margin:0; padding:0;
	background:#fff url('../img/icon/loading3.gif') center center no-repeat;
	border-radius:15px; box-shadow:0px 0px 15px #555;
	position:fixed; left:50%; top:50%;
	margin:-60px 0 0 -60px; z-index:99;
}

/* ------------ popups ------------ */

.overlay {
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	z-index:90;
}
.popup {
	display:none;
	width:400px;
	height:300px;
	margin:-150px 0 0 -200px;
	background:#fff;
	position:fixed;
	left:50%;
	top:50%;
	z-index:91;
}
.popup-close {
	width:32px;
	height:32px;
	background:url('../img/button/close.png') center center no-repeat;
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
}

/* ------------ jScrollpane ------------ */

.jspHorizontalBar {
	.jspTrack {
		background:none;
	}
	.jspDrag {
		height:5px;
		background:#000;
		opacity:0.5;
		filter:alpha(opacity=50);
		border-radius:10px;
	}
}
.jspVerticalBar {
	width:6px;
	background:none;
	.jspTrack {
		background:#2dad91;
		border-left:solid 1px #008560;
		border-top:solid 1px #008560;
		border-right:solid 1px #1ba47d;
		border-bottom:solid 1px #1ba47d;
		border-radius:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.jspDrag {
		width:4px;
		background:#c2dad3;
		border-left:solid 1px #63a492;
		border-top:solid 1px #63a492;
		border-right:solid 1px #95a39f;
		border-bottom:solid 1px #95a39f;
		border-radius:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}

.emptylist {
	width: 400px;
	font-size: 24px;
	margin-top: 50px;
	margin-left: 116px;
	line-height: 25px;
	font-family: 'DINCondensed-Bold';
	padding-top: 20px;
	text-shadow: 0 0 2px #d6ac7a;
}

#maincontent {
	height: 100%;
	min-height: 680px;
	position: relative;
}

//animate
@-webkit-keyframes bounce {
    0%,100%,20%,53%,80% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        -webkit-transform: scale3d(0,0,0);
        -ms-transform: scale3d(0,0,0);
        transform: scale3d(0,0,0);
    }

    40%,43% {
        -webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        -webkit-transform: scale3d(0,0.1,0);
        -ms-transform: scale3d(0,0.1,0);
        transform: scale3d(0,0.1,0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        -webkit-transform: scale3d(0,0.1,0);
        -ms-transform: scale3d(0,0.1,0);
        transform: scale3d(0,0.1,0);
    }

    90% {
        -webkit-transform: scale3d(1,1,0);
        -ms-transform: scale3d(1,1,0);
        transform: scale3d(1,1,0);
    }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes down {
  0% { top: -70px; }  
  20% { top: 90px; }
  80% { top: 90px; }
  100% { top: -70px; }
}

@-moz-keyframes down {
  0% { top: -70px; }  
  20% { top: 90px; }
  80% { top: 90px; }
  100% { top: -70px; }
}

@keyframes down {
  0% { top: -70px; }  
  20% { top: 90px; }
  80% { top: 90px; }
  100% { top: -70px; }
}

.countShow {
	display: block;	
	text-align: center;
	width: 100%;
	height: 166px;
	position: relative;
	font-family: din_alternateregular, Arial, Helvetica, sans-serif;
	font-size: 16px;
	z-index: 23;
	color: #fff;
	font-size: 240px;
	top: -70px;
	position: absolute;
	font-weight: bold;
	cursor: default;
	z-index: 9;
	&.down{
		animation : down 4.5s linear;
		-moz-animation : down 4.5s linear;
		-webkit-animation : down 4.5s linear;
		.count1 {
			@include count-sprite(3);
			animation : count 1s linear .5s;
			-moz-animation : count 1s linear .5s;
			-webkit-animation : count 1s linear .5s;
		}	
		.count2 {
			@include count-sprite(2);		
			animation : count 1s linear 1.5s;
			-moz-animation : count 1s linear 1.5s;
			-webkit-animation : count 1s linear 1.5s;
		}
		.count3 {
			@include count-sprite(1);		
			animation : count 1s linear 2.5s;
			-moz-animation : count 1s linear 2.5s;
			-webkit-animation : count 1s linear 2.5s;
		}
		.count4 {
			@include count-sprite(start);		
			animation : count 1s linear 3.5s;
			-moz-animation : count 1s linear 3.5s;
			-webkit-animation : count 1s linear 3.5s;
		}
	}

	div{
		position: absolute;
		margin-left: 360px;		
		top: 0;
		width: 239px;
		height: 100%;
		opacity: 0;		
	}
	
}


/* ====== */
/* HEADER */
/* ====== */
.header {
	.logo {
		position:absolute;
		left:-126px;
		top:0;
		z-index:21;
		height: 270px;
		&.bottom {
			z-index: 20;
		}
	}
}


/* ====== */
/* FOOTER */
/* ====== */
.footer {
	width:100%;
	height:36px;
	background:#252525;
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
	font-size:14px;
	line-height:36px;
	.left {
		padding-left:20px;
		float:left;
		a {
			padding-left:25px;
		}
		.twit {
			background:url(../../assets/img/icon/twitlink.png) left center no-repeat;
		}
		.web {
			background:url(../../assets/img/icon/weblink.png) left center no-repeat;
		}
	}
	.right {
		padding-right:20px;
		float:right;
	}
	a {
		color:#fff;
		text-decoration:none;
		&:hover {
			text-decoration:underline;
		}
	}
	span {
		padding:0 7px;
	}
}


/* ==== */
/* BODY */
/* ==== */

.content {
	width:100%;
	height:100%;
	min-width:1000px;
	min-height:600px;
	overflow:hidden;
	position:relative;
	&.fit {
		min-height:600px;
	}
	&#playground {
		min-height: 680px;
	}
	&#gallery {
		min-height: 800px;
	}
}

#contentdata{
	display: none;
}

.body {
	width:100%;
	height:100%;
	
	.mainbg{
		.bg-waterfall{
			display: none;
		}
	}

	.bg {
		position:absolute;
		left:50%;
		bottom:0;
		margin-left:-960px;
		&.hidden {
			display: none;
		}
	}

	&.waterfall{
		.bg-waterfall{
			display: block;
		}
		.bg-park{
			display: none;
		}
	}

	&.park{
		.bg-park{
			display: block;
		}
	}

	.orn {
		position:absolute;
		bottom:0;
		&.left {			
			left: -330px;
		}
		&.right {			
			right: -330px;
		} 
		&.mid {
			left: 50%;
			margin-left: -960px;
		}
	}
}

.fb-overlay {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.7;
	filter:alpha(opacity=70);
}

#savingboard{
	display: none;
	background: url(../img/bg/parts/board-save.png) center -32px no-repeat;
}

#recordingboard{
	background:url(../../assets/img/bg/board-playground-top.png) right top no-repeat;
	.stop{
		display: none;
	}
}

.hanging-board {
	position:absolute;
	left:50%;
	top:0;
	font-family: 'gothic_821_condensed';
	> div {
		width:100%;
		position:relative;
		margin-top:-20px;
	}
	.intro {
		font-size:20px;
		line-height:25px;
		font-family:'DINCondensed-Bold';
		padding-top:20px;
		text-shadow:0 0 2px #d6ac7a;
		em {
			font-style:normal;
			color:#fff;
		}
	}	
}
.textinput {
	display:block;
	width:225px;
	height:34px;
	margin:0 auto 30px;
	background:url(../../assets/img/bg/text-input-search.png) left top no-repeat;
	position:relative;
	input {
		display: block;
		width: 200px;
		border: 0;
		padding: 12px 12px;
		background: rgba(0,0,0,0);
		outline:none;
		color:#9e693a;
	}
	input:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0px 1000px white inset;
	}
}

.transparentBG {
	display: none;
	@include transition( all 1s ease);
	@include opacity(0);
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, .8);	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	z-index: 20;
	.random-text {
		color: #fff;
		text-align: center;
		top: 50%;
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 70px;
		font-size: 12px;
	}
	&.layout {
		display:block;
		z-index:500;		
		opacity: 1;
	}
	&.active {
		opacity: 1;
		display: block;
		z-index: 9;
		&.record-prepare{
			.preloader-content,.random-text{
				display: none;
			}
		}
	}

	img.note {
		height: 11px;
		width: 11px;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 24;
	}

	.preloader-content {
		img {			
			height: 120px;
			width: 120px;
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}


/* privacy */
.privacy {
	@include opacity(0);
	@include transition( all 2s ease);
	display: none;
	background: url(../../assets/img/bg/board-tutorial.png) no-repeat;
	width: 601px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -270px;
	text-align: center;
	text-transform: uppercase;
	font-family: din_alternateregular, Arial, Helvetica, sans-serif;
	font-size: 21pt;
	line-height: 3;
	z-index: 501;
	h1 {
		left: 184px;
		top: 112px;
		position: absolute;
		font-size: 24pt;
	}
	.privacy-wrapper {
		text-align: left;
		position: absolute;
		top: 220px;
		width: 430px;
		height: 440px;
		left: 80px;
		overflow: auto;
		.privacy-content {
			font-size: 12pt;
			text-transform: none;
			line-height: 22px;
			font-weight: normal;			
			h5 {
				font-weight: bold;
				font-size: 20pt;
				padding: 15px 0 5px 0;
			}
			p {
				font-weight: bold;
				padding: 0 0 15px 0;
			}
		}
	}
	.close {
		width: 195px;
		height: 105px;
		position: absolute;
		background: url(../../assets/img/bg/board-2.png) bottom no-repeat;
		top: 699px;
		left: 190px;
		text-align: center;
		text-transform: uppercase;
		font-family:'gothic_821_condensed';
		font-size: 21pt;
		line-height: 3;
		padding: 0;
		cursor: pointer;
		z-index: -1;
		&:hover {
			color: #fff;
		}
	}
}

/* syarat */
.syarat {
	@include opacity(0);
	@include transition( all 2s ease);
	display: none;
	background: url(../../assets/img/bg/board-tutorial.png) no-repeat;
	width: 601px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -270px;
	text-align: center;
	text-transform: uppercase;
	font-family: din_alternateregular, Arial, Helvetica, sans-serif;
	font-size: 21pt;
	line-height: 3;
	z-index: 501;
	h1 {
		left: 130px;
		top: 112px;
		position: absolute;
		font-size: 24pt;
	}
	.syarat-wrapper {
		text-align: left;
		position: absolute;
		top: 220px;
		width: 430px;
		height: 440px;
		left: 80px;
		overflow: auto;
		.syarat-content {
			font-family: din_alternateregular, Arial, Helvetica, sans-serif;
			font-size: 12pt;
			text-transform: none;
			line-height: 22px;
			font-weight: bold;
			h5 {
				font-weight: bold;
				font-size: 20pt;
				padding: 15px 0 5px 0;
			}
			h6 {
				font-weight: bold;				
				padding: 15px 0 0 0;
				text-decoration: underline;
				font-weight: bold;
				font-size: 14pt;
			}
			p {
				font-weight: bold;
				padding: 0 0 15px 0;
				span.font-italic {
					font-style: italic;				
				}
			}
			hr {
				border-color: #000;
				margin-top: -15px;
			}
			ol {
				margin-top: -16px;
				padding-left: 32px;
				list-style-type: decimal;
				display: list-item;
			}
		}
	}
	.close {
		width: 195px;
		height: 105px;
		position: absolute;
		background: url(../../assets/img/bg/board-2.png) bottom no-repeat;
		top: 699px;
		left: 190px;
		text-align: center;
		text-transform: uppercase;
		font-family:'gothic_821_condensed';
		font-size: 21pt;
		line-height: 3;
		padding: 0;
		cursor: pointer;
		z-index: -1;
		&:hover {
			color: #fff;
		}
	}
}

/* reload notif */
.reloadnotif {
	@include opacity(0);
	@include transition( all 2s ease);
	display: none;
	background: url(../../assets/img/bg/board-reg-thanks.png) right center no-repeat;
	width: 601px;
	height: 343px;
	position: absolute;
	left: 50%;
	margin-left: -270px;
	text-align: center;
	text-transform: uppercase;
	font-family:'gothic_821_condensed';
	font-size: 21pt;
	line-height: 3;
	z-index: 501;
	h1 {
		left: 184px;
		top: 112px;
		position: absolute;
		font-size: 24pt;
	}
	.reloadnotif-wrapper {
		text-align: center;
		position: absolute;
		top: 160px;
		width: 430px;		
		left: 80px;
		overflow: auto;
		font-size: 22px;
		line-height: 32px;		
	}
	.close {
		width: 195px;
		height: 105px;
		position: absolute;
		background: url(../../assets/img/bg/board-2.png) bottom no-repeat;
		top: 295px;
		left: 190px;
		text-align: center;
		text-transform: uppercase;
		font-family:'gothic_821_condensed';
		font-size: 21pt;
		line-height: 3;
		padding: 0;
		cursor: pointer;
		z-index: -1;
		&:hover {
			color: #fff;
		}
	}
}


/* Detail */
.wrapper {
	.playground-detail {
		width: 567px;
		margin-left: -281px;		
		.detail {
			position: absolute;
			margin-top: 200px;
			margin-left: 190px;
			&:hover {
				color: #fff;
			}
		}
		>div{
			height: 261px;			
			background: url(../../assets/img/bg/parts/board-reg.png) center top no-repeat;
			box-sizing: border-box;
			padding: 50px 70px 20px 70px;
			z-index: 2;			
			h2 {
				float: left;
				margin: -55px 0 0 30px;
				max-height: 142px;
				overflow: hidden;
				text-align: right;
				font-size: 30px;		
				&::after {
					clear: both;
				}
			}
		}
		.social{
			display: inline-block;
			position: absolute;
			right: -50px;
			z-index: 1;
			&.fb{
				top: 110px;
				@include icon-sprite(fb,true);
				bottom: 43px;
			}
			&.tweet{
				top: 161px;
				@include icon-sprite(twit,true);
				bottom: -8px;
			}
		}
		.meta{			
			clear: both;
			overflow: hidden;
			position: relative;
			float: left;
			margin: -19px 0 0 0;
			text-align: center;
			min-width: 50px;		
		}

		a.user-photo{
			margin-top: -14px;
			float: left;			
			display: inline-block;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			@include border-radius(50%);			
			border: 3px solid #46cfa8;
			box-sizing: border-box;
			width: 55px;
			min-height: 55px;			
			>img{
				width: 100%;
				border-radius: 50%;
				border:3px solid #46cfa8;
				box-sizing: border-box;
			}
		}
		.right{			
			margin-top: 105px;
			height: 52px;
			overflow: hidden;
			text-align: left;
			.song-title{
				margin-left: 1px;
				color: #fff;
				font-size: 22px;
				line-height: 26px;
				&::before{
					@include icon-sprite(music-note,true);
					content: "";
					display: inline-block;
					margin: 0px 6px -2px 0px;
					transform: scale(1.2);
				}
			}
		}
		.play-wrapper{
			position: relative;
			margin: 0 auto 20px auto;
			padding-top: 10px; 
			overflow: hidden;	
			.progressbar {
				width: 300px;			
				height: 9px;			
				float: left;
				.brown{
					width: 100%;
					height: 100%;
					position: absolute;
					background-color: #a06a3e;
					border-radius: 4.5px;
					-webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					-moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);	 				
				}
				.green{		
					position: absolute;		
					z-index: 3;
					width: 0%;
					height: 100%;
					background-color: #46cfa8;
					border-radius: 4.5px;
					-webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					-moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					-webkit-transition: 1s all linear;
								   -moz-transition: 1s all linear;
								    -ms-transition: 1s all linear;
								     -o-transition: 1s all linear;
								        transition: 1s all linear;			
				}			
			}			
			span{
				font-size: 16px;
				color: #4c3215;			
				float: right;
				margin: -4px 0 0 0;
				font-family: 'gothic_821_condensed';
			}
			>div{
				width: 300px;
				position: relative;
			}
			&:after {
				clear: both;
			}
		}
		.playback {
			height: 90px;
			text-align: left;
			margin: 84px 0 0;
			a{
				cursor: context-menu;
				width: 65px;
				display: inline-block;
			}
			span{
				width: 38px;
				height: 38px;
				display: inline-block;
			}
			.play{
				cursor: pointer;
				// background: url(../../assets/img/button/playback.png) no-repeat left bottom;
				background: url(../../assets/img/button/playback.png) no-repeat left top;
				&:hover{					
					// background: url(../../assets/img/button/playback.png) no-repeat left -38px;
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat left -38px;
					// background: url(../../assets/img/button/playback.png) no-repeat left top;
				}
			}
			.stop{
				cursor: pointer;
				// background: url(../../assets/img/button/playback.png) no-repeat -38px bottom;
				background: url(../../assets/img/button/playback.png) no-repeat -38px top;
				&:hover{					
					// background: url(../../assets/img/button/playback.png) no-repeat -38px -38px;					
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat -38px bottom;
					// background: url(../../assets/img/button/playback.png) no-repeat -38px top;
				}
			}
		}

	}
}
	

/* ============ */
/* LANDING/HOME */
/* ============ */
#home {		
	.ornament{
		display: none;
	}	

	.hanging-board {
		&.drbeat {			
			margin-left:-580px;
			margin-top: -21px;
			z-index: 3;
			width: 100%;			
			height:538px;
			background:url(../../assets/img/bg/drbeat-connect.png) center top no-repeat;
			&.home {
				height:168px;
				background: url();
				&::after {
					content: "";
					position: absolute;
					display: inline-block;
					width: 100%;
					height:168px;
					top: 0px;
					background:url(../../assets/img/bg/leave-home.png) center top no-repeat;				
				}
				.headset{
					cursor: pointer;					
					margin: 20px 0 0 716px;
					width: 159px;
					height: 369px;											
					background:url(../../assets/img/bg/dr-beat-inactive.png) center top no-repeat;															
				}
			}
		}

		&.fbconnect {
			// display:none;
			width:667px;
			margin-left:-330px;
			text-align:center;
			> div {
				height:538px;
				background:url(../../assets/img/bg/parts/board-home.png) center top no-repeat;
			}
			.copy-connect {
				position: relative;
				margin-left: 180px;
				margin-top: -10px;
				width: 287px;
				height: 177px;
				background: url('../../assets/img/bg/text-copy-connect.png') center top no-repeat;
			}
			img {
				position: relative;
				z-index: 3;
				cursor:pointer;
				margin-top: 8px;
				margin-left: -20px;
			}
			h2 {
				padding-top: 30px;
				margin-bottom: 20px;
				line-height: 30px;
				min-height: 95px;
				font-size: 30px;
			}
		}
	}

	.hanging-board.landingpage {
		width:639px;
		margin-left:-322px;
		top: 20px;
		text-align:center;
		> div {			
			height:390px;
			background:url(../../assets/img/bg/parts/board-home.png) center top no-repeat;
		}		
		.intro {
			font-family: 'gothic_821_condensed';
			font-size:18px;			
			padding:0 0 10px 0;									
		}				
		.sub {
			width: 349px;
			height: 45px;
			background: url(../../assets/img/bg/3-tracks.png) center top no-repeat;
			top: 38px;
			left: 126px;
			position: relative;
			transform: scale(0.9);
		}
		.btn {			
			position:absolute;
			left:50%;
			top: 322px;
			&.gal {
				margin-left:-185px;
			}
			&.mix {
				margin-left:0;
			}
			&:hover {
				color: #fff;
			}
		}
		h2 {
			padding: 26px 0 0 0;			
			line-height: 30px;
			min-height: 38px;
			font-size: 50px;
			margin: 0;
		}
	}
	.no-login {
		.fb-overlay,
		.fbconnect {
			display:block;
		}
		.landingpage {
			display:none;
		}
	}
	.top-three {
		position: relative;
		z-index: 2;
		width:497px;
		height:180px;
		margin:39px 0 0 0;		
		z-index: 3px;
		> div {			
			width: 200px;
			height:54px;
			margin-bottom:9px;
			overflow:hidden;
			&:nth-child(1) {
				width: 467px;
				height: 54px;
				margin-left: 9px;
				&.hover {												
					&:hover {
						background:url(../../assets/img/bg/landing1.png) 65px 1px no-repeat;
					}
				}
				&.active {
					background:url(../../assets/img/bg/landing1.png) 65px 1px no-repeat;
				}
			}
			&:nth-child(2) {
				width: 467px;
				height: 54px;
				margin-left: 9px;
				&.hover {
					&:hover {
						background:url(../../assets/img/bg/landing2.png) 65px 1px no-repeat;
					}
				}
				&.active {
					background:url(../../assets/img/bg/landing2.png) 65px 1px no-repeat;
				}
			}
			&:nth-child(3) {
				width: 467px;
				height: 54px;
				margin-left: 9px;
				&.hover {
					&:hover {
						background:url(../../assets/img/bg/landing3.png) 65px 1px no-repeat;
					}
				}
				&.active {
					background:url(../../assets/img/bg/landing3.png) 65px 1px no-repeat;
				}
			}
			.rounded {
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				-khtml-border-radius: 50%;
				overflow: hidden;
				float: left;
				margin: 0px 25px 0 100px;
				border: solid 2px white;
				height: 50px;
				width: 50px;
				img {				
					width:50px;
					height:50px;							
					-webkit-border-radius: 50%;
				    -moz-border-radius: 50%;
				    border-radius: 50%;
				    -khtml-border-radius: 50%;				
				}
			}			
			p {
				width:210px;
				float:left;
				margin-right:15px;
				text-align:left;
				span {
					display:block;
				}
				.song {
					font-family:'gothic_821_condensed';
					font-size:24px;
					line-height:34px;
					height:34px;
					overflow:hidden;
				}
				.name {
					font-family:'din_alternatebold';
					font-size:15px;
					line-height:16px;
					height:16px;
					overflow:hidden;
				}
			}
			a {
				display:block;
				width:32px;
				height:32px;
				background:url(../../assets/img/icon/play.png) no-repeat;
				float:left;
				margin-top:11px;
				cursor:pointer;
				text-indent:-9999px;
				&.stop {
					background: url(../../assets/img/button/playback.png) no-repeat -38px top;
					transform: scale(.88);
					width: 38px;
					height: 38px;
					margin-left: -2px;
					margin-top: 8px;
				}		
			}
		}
	}
}

#like {
	.hanging-board {	
	width: 639px;
	margin-left: -322px;
	top: 20px;
	text-align: center;			
		> div {
			height: 316px;
			background: url(../../assets/img/bg/parts/board-like.png) left top no-repeat;
			h3 {
				padding-top: 100px;				
			}
			.intro {
				position: absolute;
				top: 120px;
				padding: 13px 100px;
				font-size: 20px;
				letter-spacing: 2px;
				font-family: 'gothic_821_condensed';
			}
			.w-fb-data {
				top: 265px;
				position: absolute;
				left: 270px;
			}
		}			
	}
	.btn {
		position: absolute;
		top: 270px;
		left: 228px;
		&:hover {
			color: #fff;
		}
	}
}

/* ======== */
/* REGISTER */
/* ======== */
#register {
	.hanging-board {
		width:624px;
		margin-left:-310px;
		text-align:center;
		> div {
			height:354px;
			background:url(../../assets/img/bg/board-reg-thanks.png) left top no-repeat;
		}
		h2 {
			margin-bottom:10px;
		}
		.btn {
			position:absolute;
			left:50%;
			&.hanging {
				top:252px;
				margin-left:-100px;
			}
			&:hover {
				color: #fff;
			}
		}
		.checkbox {
			// position: relative;
			top: -10px;
		}
		.message {
			position: relative;
			// top: 5px;
			font-weight: bold;
			color: #880000;
		}
	}
}


/* ========= */
/* THANK YOU */
/* ========= */
#thanks {
	.hanging-board {
		width:626px;
		margin-left:-310px;
		text-align:center;
		> div {
			height:316px;
			background:url(../../assets/img/bg/board-reg-thanks.png) right top no-repeat;
		}
		h3 {
			padding-top:100px;
		}
		.intro {
			padding-top:13px;
			font-size:21px;
			letter-spacing:2px;
		}
		.btn {
			position:absolute;
			left:50%;
			&.hanging {
				top:226px;
				margin-left:-220px;
				&:hover {
					color: #fff;
				}
			}
			&.fbshare {
				margin-left:0;
				left: 420px;
				top: 280px;
			}
			&.twitshare {
				margin-left:0;
				left: 478px;
				top: 280px;
			}
		}
	}
}


/* ======= */
/* GALLERY */
/* ======= */
#gallery {
	.hanging-board {
		width:639px;
		margin-left:-310px;
		text-align:center;
		.board-extend {
			width:538px;
			height:202px;
			background:url(../../assets/img/bg/board-home-ex.png) no-repeat;
			position: absolute;
			left: 53px;
			top: 384px;
		}
		.gallery-box {
			height:588px;
			padding-top: 1px;
			background:url(../../assets/img/bg/board-fb-home-stain.png) -667px top no-repeat;
		}
		h2{
			margin: 0;
			margin-top: -20px;
		}
		h3 {
			padding-top:100px;
		}
		.intro {
			padding-top:13px;
			font-size:21px;
			letter-spacing:2px;
		}

		&.playground-detail {
		/* width: 597px;
		margin-left: -298px; */

		// baru ini
		width: 567px;
		margin-left: -281px;		
		.detail {
			position: absolute;
			margin-top: 200px;
			left: 190px;
			&:hover {
				color: #fff;
			}
		}
		>div{
			height: 261px;
			/* background: url(../../assets/img/bg/board-playground-top.png) left top no-repeat; */
			background: url(../../assets/img/bg/parts/board-reg.png) center top no-repeat;
			box-sizing: border-box;
			padding: 50px 70px 20px 70px;
			z-index: 2;
			// baru ini
			h2 {
				float: left;
				margin: -55px 0 0 30px;
				max-height: 142px;
				overflow: hidden;
				text-align: right;
				font-size: 30px;		
				&::after {
					clear: both;
				}
			}
		}

		.social{
			display: inline-block;
			position: absolute;
			right: -50px;
			z-index: 1;
			&.fb{
				top: 110px;
				@include icon-sprite(fb,true);
				bottom: 43px;
			}
			&.tweet{
				top: 161px;
				@include icon-sprite(twit,true);
				bottom: -8px;
			}
		}

		.meta{			
			clear: both;
			overflow: hidden;
			position: relative;
			float: left;
			margin: -19px 0 0 0;
			text-align: center;
			min-width: 50px;			
		}

		a.user-photo{
			margin-top: -14px;
			float: left;
			/* width: 75px;
			height: 75px;
			float: left; */
			display: inline-block;

			//baru ini
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 50%;
			border: 3px solid #46cfa8;
			box-sizing: border-box;
			width: 55px;
			min-height: 55px;			
			>img{
				width: 100%;
				border-radius: 50%;
				border:3px solid #46cfa8;
				box-sizing: border-box;
			}
		}
		.right{
			/* float: left; */
			margin-top: 105px;
			height: 52px;
			overflow: hidden;
			text-align: left;
			.song-title{
				margin-left: 1px;
				color: #fff;
				font-size: 22px;
				line-height: 26px;
				&::before{
					@include icon-sprite(music-note,true);
					content: "";
					display: inline-block;
					margin: 0px 6px -2px 0px;
					transform: scale(1.2);
				}
			}
		}

		.play-wrapper{
			position: relative;
			margin: 0 auto 20px auto;
			padding-top: 10px; 
			overflow: hidden;	
			span{
				font-size: 16px;
				color: #4c3215;			
				float: right;
				margin: -4px 0 0 0;
				font-family: 'gothic_821_condensed';
			}
			>div{
				width: 405px;
				position: relative;
			}
			&:after {
				clear: both;
			}
		}
	
		.playback{
			height: 90px;
			text-align: left;
			margin: 84px 0 0;
			a{
				cursor: context-menu;
				width: 65px;
				display: inline-block;
			}
			span{
				width: 38px;
				height: 38px;
				display: inline-block;
			}
			.play{
				cursor: pointer;
				// background: url(../../assets/img/button/playback.png) no-repeat left bottom;
				background: url(../../assets/img/button/playback.png) no-repeat left top;
				&:hover{					
					// background: url(../../assets/img/button/playback.png) no-repeat left -38px;
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat left -38px;
					// background: url(../../assets/img/button/playback.png) no-repeat left top;
				}
			}
			.stop{
				cursor: pointer;
				// background: url(../../assets/img/button/playback.png) no-repeat -38px bottom;
				background: url(../../assets/img/button/playback.png) no-repeat -38px top;
				&:hover{					
					// background: url(../../assets/img/button/playback.png) no-repeat -38px -38px;					
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat -38px bottom;
					// background: url(../../assets/img/button/playback.png) no-repeat -38px top;
				}
			}			
			&:before {
				clear: both;
			}		
		}
	}
	}

	.gallery-header{
		height: 120px;
		opacity: .8;
	}
	.des{
		font-family: 'DINCondensed-Bold';
		color: #fff;
		margin-top: -40px;
		font-size: 24px;		
		text-transform: uppercase;
	}

	.gallery-content{
		margin: 39px 54px 0;
		.emptylist {
			margin-top: 160px;
			margin-bottom: 142px;
			margin-left: 70px;
		}
	}

	.gallery-dropdown{
		height: 19px;
		width: 392px;
		float: right;
		margin-top: 26px;
		margin-right: 23px;
	}

	.select-child{
		float: left;
		position: relative;
		cursor: pointer;
		select{
			width: 100%;
			display: block;
			opacity: 0;
		}
		.text{
			position: absolute;
			line-height: 19px;
			text-indent: 18px;
			display: block;
			text-align: left;
			text-transform: uppercase;
			color: #000;
			font-size: 18px;
			font-family: 'gothic_821_condensed';
			cursor: pointer;			
		}
	}
	
	.arrow{
		position: absolute;
		right: 0;
		margin-right: 8px;
		margin-top: 4px;
	}
	.arrow-top{
		@include sprt-sprite(arrow-top, true);
		display: block;
	}

	.arrow-bottom{
		@include sprt-sprite(arrow-bottom, true);
		display: block;
	}

	.select-title{
		@include sprt-sprite(painted1, true);
	}

	.select-composer{
		@include sprt-sprite(painted2, true);
		.arrow{
			margin-right: 12px;
		}
	}

	.select-listened{
		@include sprt-sprite(painted3, true);
		.arrow{
			margin-right: 10px;
		}
	}

	.down{
		margin-top: 19px;
		text-align: left;
		background-color: #fff;
		font-family: 'gothic_821_condensed';
		a{
			text-decoration: none;
			color: #000;
			display: block;
			padding: 4px;
			padding-left: 18px;
		}
	}

	.gallery-list{
		color: #000000;
		font-size: 16px;
		margin-left: 40px;
		font-family: 'din_alternatebold';
		margin-top: 20px;
		min-height: 313px;
		.list{
			@extend .clearfix;
			margin-bottom: 10px;
			position:relative;
			cursor:pointer;			
			@include transition(background-image .3 ease-out);
			&.hover {
				&:hover {
					background:url("../../assets/img/bg/painted-long.png") no-repeat 32px 12px;
				}
			}
			> a {				
				display:block;
				position:absolute;
				width:100%;
				height:100%;
				left:0;
				top:0;
			}
		}

		// .gal-img{
		// 	float: left;
		// 	width: 50px;
		// 	height: 50px;
		// 	border: 2px solid #fff;
		// 	@include border-radius(90px);
		// 	overflow: hidden;
		// 	img{
		// 	}
		// }

		.gal-img{
			@include border-radius(50%);
			overflow: hidden;
			float: left;			
			border: solid 2px white;
			height: 50px;
			width: 50px;
			img {				
				width:50px;
				height:50px;							
				@include border-radius(50%);
			}
		}			

		.gal-title{
			float: left;
			margin-right: 10px;
			margin-top: 18px;
			max-height: 18px;
			overflow: hidden;
			padding-left: 34px;
			text-align: left;
			width: 120px;
		}

		.gal-composer{
			width: 158px;
			float: left;
			margin-top: 18px;
			overflow: hidden;
			max-height: 18px;
			text-align-last: auto;
		}

		.gal-listen{
			width: 46px;
			float: left;
			margin-top: 18px;
		}

		.gal-play{
			width: 46px;
			margin-left: 18px;
			float: left;
			margin-top: 11px;
			@include sprt-sprite(play, true);

			a{
				display: block;
				@include sprt-sprite(play, true);
			}
		}

		.gal-stop {
			background: url(../../assets/img/button/playback.png) no-repeat -38px top;
			transform: scale(.88);
			width: 38px;
			height: 38px;
			margin-left: -2px;
			margin-top: 8px;
		}	

		.emptySearch {
			padding-top: 150px;
			margin-left: -40px;	
			display: none;		
		}	
	}

	.nav{
		width: 220px;
		text-align: left;
		font-family: 'gothic_821_condensed';
		margin-left: 50px;
		float: left;
		margin-top: 4px;
		a{
			@include inline-block;
			font-size: 20px;
			margin: 2px;
			color: #fff;
			&:link{
				text-decoration: none;
				color: #fff;
			}
			&:hover{
				color: #000;
			}
			&.active{
				color: #000;
				text-decoration: underline;
			}
		}
	}

	.gallery-bottom{
		margin-top: 16px;
	}

	.gallery-form{
		z-index: 21;
		position: absolute;
		margin-left: 340px;
		margin-top: 4px;
		@include sprt-sprite(search, true);
		input{
			margin-left: 10px;
			opacity: .8;
			width: 105px;
			display: block;
			border-width: 0;
			padding: 11px 0;
			background-color: transparent;
		}
		button[type="submit"]{
			background-color: transparent;
			border-width: 0;
			height: 18px;
			width: 18px;
			position: absolute;
			text-indent: -9999px;
			top: 8px;
			right: 18px;
			cursor: pointer;
		}
	}

}

/* ======= */
/* playground */
/* ======= */

@-moz-keyframes magnify {
  0%   { -moz-transform: scale(0.5); }
  100%   { -moz-transform: scale(1); }
}
@-webkit-keyframes magnify {
  0% { -webkit-transform: scale(0.5); }
  100%   { -webkit-transform: scale(1); }
}
@keyframes magnify {
  0%   { transform: scale(0.5); -webkit-transform: scale(0.5); }
  100%   { transform: scale(1); -webkit-transform: scale(1); }
}

@-moz-keyframes music {
  0%   { opacity: 1; background-position:0 0; transform:scale(1); bottom:100px }
  33.3%   { opacity: 0; background-position: 0 0; transform:scale(2); bottom:200px }
  33.4%   { opacity: 1; background-position: 0 -114px; transform:scale(1); bottom:100px }
  66.3%   { opacity: 0; background-position: 0 -114px; transform:scale(2); bottom:200px }
  66.4%   { opacity: 1; background-position: 0 -228px; transform:scale(1); bottom:100px }
  100%   { opacity: 0; background-position: 0 -228px; transform:scale(2); bottom:200px }
}
@-webkit-keyframes music {
  0%   { opacity: 1; background-position:0 0; transform:scale(1); bottom:100px }
  33.3%   { opacity: 0; background-position: 0 0; transform:scale(2); bottom:200px }
  33.4%   { opacity: 1; background-position: 0 -114px; transform:scale(1); bottom:100px }
  66.3%   { opacity: 0; background-position: 0 -114px; transform:scale(2); bottom:200px }
  66.4%   { opacity: 1; background-position: 0 -228px; transform:scale(1); bottom:100px }
  100%   { opacity: 0; background-position: 0 -228px; transform:scale(2); bottom:200px }
}
@keyframes music {
  0%   { opacity: 1; background-position:0 0; transform:scale(1); bottom:100px }
  33.3%   { opacity: 0; background-position: 0 0; transform:scale(2); bottom:200px }
  33.4%   { opacity: 1; background-position: 0 -114px; transform:scale(1); bottom:100px }
  66.3%   { opacity: 0; background-position: 0 -114px; transform:scale(2); bottom:200px }
  66.4%   { opacity: 1; background-position: 0 -228px; transform:scale(1); bottom:100px }
  100%   { opacity: 0; background-position: 0 -228px; transform:scale(2); bottom:200px }
}

@-moz-keyframes glow {
  0%   { opacity: 1; background-position:0 0;}
  50%   { opacity: 0; background-position:0 0;}
  50.1%   { opacity: 1; background-position: 0 -50px;}
  100%   { opacity: 0; background-position: 0 -50px;}
}
@-webkit-keyframes glow {
  0%   { opacity: 1; background-position:0 0;}
  50%   { opacity: 0; background-position:0 0;}
  50.1%   { opacity: 1; background-position: 0 -50px;}
  100%   { opacity: 0; background-position: 0 -50px;}
}
@keyframes glow {
  0%   { opacity: 1; background-position:0 0;}
  50%   { opacity: 0; background-position:0 0;}
  50.1%   { opacity: 1; background-position: 0 -50px;}
  100%   { opacity: 0; background-position: 0 -50px;}
}

@-moz-keyframes tobig {
  0%   { transform: scale(1);}
  100%   { transform:scale(1.5);}
}

@-webkit-keyframes tobig {
  0%   { transform: scale(1);}
  100%   { transform:scale(1.5);}
}

@keyframes tobig {
  0%   { transform: scale(1);}
  100%   { transform:scale(1.5);}
}

@-moz-keyframes splash {
  0%   { opacity: 0;}
  50%	{ opacity: .7;}
  100%   { opacity: 0;}
}

@-webkit-keyframes splash {
  0%   { opacity: 0;}
  50%	{ opacity: .7;}
  100%   { opacity: 0;}
}

@keyframes splash {
  0%   { opacity: 0;}
  50%	{ opacity: .7;}
  100%   { opacity: 0;}
}

@keyframes dropping {
  0%   { transform: translateY(-200px); opacity: 0;}
  100%   { transform: translateY(0); opacity: 1;}
}

@-webkit-keyframes dropping {
  0%   { transform: translateY(-200px); opacity: 0;}
  100%   { transform: translateY(0); opacity: 1;}
}

@-moz-keyframes dropping {
  0%   { transform: translateY(-200px); opacity: 0;}
  100%   { transform: translateY(0); opacity: 1;}
}

@-moz-keyframes count {
  0%   { opacity: 1;}
  99.9%	{ opacity: 1;}
  100%   { opacity: 0;}
}

@-webkit-keyframes count {
  0%   { opacity: 1;}
  99.9%	{ opacity: 1;}
  100%   { opacity: 0;}
}

@keyframes count {
  0%   { opacity: 1;}
  99.9%	{ opacity: 1;}
  100%   { opacity: 0;}
}

#itemholder{
	width: 100%;
	height: 100%;
	position: absolute;
	.item{
		height: 255px;
		width: 150px;
		position: absolute;
		z-index: 6;
		margin-left: -80px;
		margin-top: -220px;
		
		-webkit-animation: magnify .5s;
		   -moz-animation: magnify .5s;
		     -o-animation: magnify .5s;
		        animation: magnify .5s;
		
		-webkit-transform-origin: 50% 100%;
		   -moz-transform-origin: 50% 100%;
		    -ms-transform-origin: 50% 100%;
		     -o-transform-origin: 50% 100%;
		        transform-origin: 50% 100%;
		
		@import "product";
	}
}

/* ======== */
/* detail */
/* ======== */
.bottom-things{
	width: 540px;
	height: 85px;
	position: absolute;
	bottom: 36px;
	left: 0;
	right: 0;
	margin: 0 auto;
	span{
		position: absolute;
	}
	.lemon_f{
		background: url(../../assets/img/bg/lemon.png) no-repeat center;
		width: 130px;
		height: 49px;
		right: 0;
	}
	.vanilla_f{
		background: url(../../assets/img/bg/vanilla.png) no-repeat center;
		width: 69px;
		height: 41px;
		left: 0;
	}
	.raspberry_f{
		background: url(../../assets/img/bg/raspberry.png) no-repeat center;
		width: 89px;
		height: 50px;
		left: 160px;
	}
}

.product{
	position: absolute;
	left: 151px;
	right: 0;
	margin: 0 auto;
	bottom: 165px;
	width: 555px;
	height: 420px;
	z-index: 1;
	&.active{
		.dropzone{
			background: #ff0;
			opacity: .6;
			&.occupied,&.hover.occupied{
				opacity: 1;
				background: red;
			}
			&.hover{
				
			}
		}
	}

	.dropzone{
		width: 301px;
		height: 98px;
		position: absolute;
		border-radius: 50%;
		margin-left: -151px;
						
		&.hover::after {
			content:"";
			width:100%;
			height:100%;
			display: block;
			position: absolute;				
			left:0;
			top: 0;		
			z-index: -3;
			@include teratai-sprite(hover);
		}
	
		&.occupied{
			.glow,.music,.splash{
				display: block;
			}
		}

		&.hover::after {
			content:"";
			width:100%;
			height:100%;
			display: block;
			position: absolute;				
			left:0;
			top: 0;		
			z-index: -3;
			@include teratai-sprite(hover);
		}

		.glow,.music,.splash{
			display: none;
			position: absolute;
			pointer-events:none;
		}

		.glow {
			display: block;
			background-size: center;
			width:115px;
			height:50px;
			position: absolute;				
			left:0;
			top: 0;		
			left: 50%;
			margin: 0 0 20px -75px;
			z-index: 5;								
			background: url(../../assets/img/glow.png) no-repeat;
			//@include transition( all .4s ease-out);
			-webkit-animation: glow 1s infinite linear;
		    -moz-animation: glow 1s infinite linear;
		      -o-animation: glow 1s infinite linear;
		         animation: glow 1s infinite linear;
			
		}
		.music {
			background-size: center;
			background: url(../../assets/img/music.png) no-repeat; 
			width: 120px; 
			height: 114px; 
			z-index: 9;
			opacity: 1;
			bottom: 100px;
			left: 50%;
			margin: 0 0 20px -60px;
			// @include transition( all .483s ease-out);
			-webkit-animation: music 5.806s infinite linear;
		    -moz-animation: music 5.806s infinite linear;
		         animation: music 5.806s infinite linear;
		}
		.splash {
			width: 300px;
			height: 183px;
			bottom: -15px;
			left: -15px;
			animation : tobig 1s linear .3s;
			-webkit-animation : tobig 1s linear .3s;
			-moz-animation : tobig 1s linear .3s;
			div{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
			.splash1 {
				@include splash-sprite(1);
				animation : splash .3s linear .3s;
				-moz-animation : splash .3s linear .3s;
				-webkit-animation : splash .3s linear .3s;
			}
			.splash2 {
				@include splash-sprite(2);
				animation : splash .3s linear .4s;
				-moz-animation : splash .3s linear .4s;
				-webkit-animation : splash .3s linear .4s;
			}
			.splash3 {
				@include splash-sprite(3);
				animation : splash .3s linear .5s;
				-moz-animation : splash .3s linear .5s;
				-webkit-animation : splash .3s linear .5s;
			}
			.splash4 {
				@include splash-sprite(4);
				animation : splash .3s linear .6s;
				-moz-animation : splash .3s linear .6s;
				-webkit-animation : splash .3s linear .6s;
			}
			.splash5 {
				@include splash-sprite(5);
				animation : splash .3s linear .7s;
				-moz-animation : splash .3s linear .7s;
				-webkit-animation : splash .3s linear .7s;
			}
			.splash6 {
				@include splash-sprite(6);
				animation : splash .3s linear .8s;
				-moz-animation : splash .3s linear .8s;
				-webkit-animation : splash .3s linear .8s;
			}
			.splash7 {
				@include splash-sprite(7);
				animation : splash .3s linear .9s;
				-moz-animation : splash .3s linear .9s;
				-webkit-animation : splash .3s linear .9s;
			}
		}

		.item{
			/* bottom: 15px; */
			left: 64px;
			bottom: 49px;
			
			animation : dropping .3s linear;
			-moz-animation : dropping .3s linear;
			-webkit-animation : dropping .3s linear;

			&.transparent {
				@include opacity(.5);
			}
			&.active {
				@include opacity(1);
			}
		}
		.bar{
			top: 260px;
			left: 28px;
			position: absolute;
			bottom: 0;
			width: 90px;
			height: 7px;
			background-color: #004d37;
			border: 3px solid #008f67;
			border-radius: 7px;			
			span{
				position: relative;
				height: 7px;
				border-radius: 7px;
				background: #00de83;
				width: 0;
				display: block;
			}
		}		
		.animate{
			z-index: -1;
			width: 261px;
			height: 65px;
			display: block;
			position: absolute;
			bottom: -3px;
			margin-left: -130px;
			left: 50%;
			// @extend .loopbg;
		
			&.stop-animation{
				@include animation(none);
			}
		}
	}
	.dz1{
		top: 236px;
		left: 13px;
		-web-transform: scale(0.83);
		-moz-transform: scale(0.83);
		-o-transform: scale(0.83);
		transform: scale(0.83);
		@include teratai-sprite(1);
		.water {
			top: -270px;
			left: -86px;
		}
	}
	.dz2{
		top: 226px;
		left: 217px;
		-web-transform: scale(0.80);
		-moz-transform: scale(0.80);
		-o-transform: scale(0.80);
		transform: scale(0.80);
		@include teratai-sprite(2);
		.water {
			top: -270px;
			left: -85px;
		}
	}
	.dz3{
		top: 215px;
		left: 418px;
		-web-transform: scale(0.78);
		-moz-transform: scale(0.78);
		-o-transform: scale(0.78);
		transform: scale(0.78);
		@include teratai-sprite(3);
		.water {
			top: -270px;
			left: -85px;
		}
	}
	.dz4{
		top: 320px;
		left: 113px;
		-web-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-o-transform: scale(0.95);
		transform: scale(0.95);
		@include teratai-sprite(4);
		z-index: 4;
		.water {
			top: -270px;
			left: -85px;
		}
	}
	.dz5{
		top: 320px;
		left: 317px;
		z-index: 5;
		-web-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-o-transform: scale(0.95);
		transform: scale(0.95);
		@include teratai-sprite(5);
		.water {
			top: -270px;
			left: -85px;
		}
	}
	.item{
		position: absolute;

		height: 255px;
		width: 150px;
		@include transition( all .3s ease-in);

		&.cranberry{
			background: url(../../assets/img/product/bottle_cranberry.png) no-repeat;
		}
		&.british{
			background: url(../../assets/img/product/bottle_british.png) no-repeat;
		}
		&.mint{
			background: url(../../assets/img/product/bottle_mint.png) no-repeat;
		}
		&.lemon{
			background: url(../../assets/img/product/bottle_lemon.png) no-repeat;
		}
		&.blackmint{
			background: url(../../assets/img/product/bottle_blackmint.png) no-repeat;
		}
		&.lemonlime{
			background: url(../../assets/img/product/bottle_lemonlime.png) no-repeat;
		}
		&.raspberry{
			background: url(../../assets/img/product/bottle_raspberry.png) no-repeat;
		}
		&.walnut{
			background: url(../../assets/img/product/bottle_walnut.png) no-repeat;
		}
		&.butter{
			background: url(../../assets/img/product/packshot_butter.png) no-repeat;
			background-position: 0 10px; 
		}
		&.lime{
			background: url(../../assets/img/product/packshot_lime.png) no-repeat;
			background-position: 0 20px; 
		}
		&.spearmint{
			background: url(../../assets/img/product/packshot_spearmint.png) no-repeat;
			background-position: 0 10px; 
		}
	}
}

#detail{
	h3{
		font-size: 30px;
		line-height: 30px;
		margin: 12px 0 3px;
		/* text-align: left; */
		text-transform: none;
	}

	.hanging-board.playground-detail {
		/* width: 597px;
		margin-left: -298px; */

		// baru ini
		width: 567px;
		margin-left: -281px;		
		.detail {
			position: absolute;
			margin-top: 200px;
			margin-left: calc((100% / 2) - 100px);
		}
		>div{
			height: 261px;
			/* background: url(../../assets/img/bg/board-playground-top.png) left top no-repeat; */
			background: url(../../assets/img/bg/parts/board-reg.png) center top no-repeat;
			box-sizing: border-box;
			padding: 50px 70px 20px 70px;
			z-index: 2;
			// baru ini
			h2 {
				float: left;
				margin: -55px 0 0 30px;
				max-height: 142px;
				overflow: hidden;
				text-align: right;
				font-size: 30px;		
				&::after {
					clear: both;
				}
			}
		}

		.social{
			display: inline-block;
			position: absolute;
			right: -50px;
			z-index: 1;
			&.fb{
				top: 110px;
				@include icon-sprite(fb,true);
				bottom: 43px;
			}
			&.tweet{
				top: 161px;
				@include icon-sprite(twit,true);
				bottom: -8px;
			}
		}

		.meta{			
			overflow: hidden;
			position: relative;
			float: left;
			margin: 68px 0 0 -250px;
			text-align: center;
			min-width: 50px;			
		}

		a.user-photo{
			margin-top: -14px;
			float: left;
			/* width: 75px;
			height: 75px;
			float: left; */
			display: inline-block;

			//baru ini
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 50%;
			border: 3px solid #46cfa8;
			box-sizing: border-box;
			width: 55px;
			min-height: 55px;			
			>img{
				width: 100%;
				border-radius: 50%;
				border:3px solid #46cfa8;
				box-sizing: border-box;
			}
		}
		.right{
			/* float: left; */
			margin-top: 105px;
			height: 52px;
			overflow: hidden;
			.song-title{
				color: #fff;
				font-size: 22px;
				line-height: 26px;
				&::before{
					@include icon-sprite(music-note,true);
					content: "";
					display: inline-block;
					margin: 0px 6px -2px 0px;
					transform: scale(1.2);
				}
			}
		}
		.play-slider{			
			width: 300px;
			height: 9px;
			display: inline-block;
			position: absolute;
			float: left;
			.progressbar {
				width: 300px;
				&.brown{
					background-color: #a06a3e;
					border-radius: 4.5px;
					-webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					-moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);	 				
				}
				&.green{				
					z-index: 3;
					width: 0%;
					background-color: #46cfa8;
					border-radius: 4.5px;
					-webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					-moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);
					box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.85);	 				
				}			
			}
		}
		.play-wrapper{
			position: relative;
			margin: 0 auto 20px auto;
			padding-top: 10px; 
			overflow: hidden;	
			span{
				font-size: 16px;
				color: #4c3215;			
				float: right;
				margin: -4px 0 0 0;
				font-family: 'gothic_821_condensed';
			}
			>div{
				width: 405px;
				position: relative;
			}
			&:after {
				clear: both;
			}
		}
	
		.playback{
			height: 90px;
			text-align: left;
			margin: 84px 0 0;
			a{
				cursor: context-menu;
				width: 65px;
				display: inline-block;
			}
			span{
				width: 38px;
				height: 38px;
				display: inline-block;
			}
			.play{
				cursor: pointer;
				// background: url(../../assets/img/button/playback.png) no-repeat left bottom;
				background: url(../../assets/img/button/playback.png) no-repeat left top;
				&:hover{					
					// background: url(../../assets/img/button/playback.png) no-repeat left -38px;
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat left -38px;
					// background: url(../../assets/img/button/playback.png) no-repeat left top;
				}
			}
			.stop{
				cursor: pointer;
				// background: url(../../assets/img/button/playback.png) no-repeat -38px bottom;
				background: url(../../assets/img/button/playback.png) no-repeat -38px top;
				&:hover{					
					// background: url(../../assets/img/button/playback.png) no-repeat -38px -38px;					
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat -38px bottom;
					// background: url(../../assets/img/button/playback.png) no-repeat -38px top;
				}
			}
			.prev{
				cursor: pointer;
				background: url(../../assets/img/button/playback.png) no-repeat -76px bottom;
				&:hover{					
					background: url(../../assets/img/button/playback.png) no-repeat -76px -38px;
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat -76px top;
				}
			}
			.next{
				cursor: pointer;
				background: url(../../assets/img/button/playback.png) no-repeat -114px bottom;
				&:hover{					
					background: url(../../assets/img/button/playback.png) no-repeat -114px -38px;
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat -114px top;
				}
			}
			.shuffle{
				cursor: pointer;
				background: url(../../assets/img/button/playback.png) no-repeat -152px bottom;
				&:hover{					
					background: url(../../assets/img/button/playback.png) no-repeat -152px -38px;
				}
				&.active{					
					background: url(../../assets/img/button/playback.png) no-repeat -152px top;
				}
			}
			&:before {
				clear: both;
			}		
		}

		.backtogallery{
			background: url(../../assets/img/button/backtogallery.png) no-repeat;
			width: 122px;
			height: 32px;
			position: absolute;
			bottom: 35px;
			right: 60px;
		}
	}
}

/* ======= */
/* playground */
/* ======= */



/* Chrome, Safari, Opera */
@-webkit-keyframes bg {
    0%   {background-image: url(../../assets/img/sprite/glow/glow-1.png);opacity:1;}
    25%  {background-image: url(../../assets/img/sprite/glow/glow-1.png);opacity:0;}
    50%  {background-image: url(../../assets/img/sprite/glow/glow-2.png);opacity:1;}
    100% {background-image: url(../../assets/img/sprite/glow/glow-2.png);opacity:0;}
}

.loopbg{
	background: url(../../assets/img/sprite/draghover/1.png) no-repeat center;
	background-repeat: no-repeat;
	background-position: center;
	@include animation(bg .8s linear infinite);
}

#playground{
	.tutorial {
		width: 1000px;
		margin: 0 auto;
		position: relative;
		.logo {
			display: none;
			z-index: 22;
			position: absolute;
			left: -126px;
			top: 0;
			height: 270px;
		}

		.how {
			background: url(../../assets/img/bg/board-2.png) bottom no-repeat;
			width: 195px;
			height: 100px;
			position: absolute;
			top: 266px;
			left: 15px;
			text-align: center;
			text-transform: uppercase;
			font-family:'gothic_821_condensed';
			font-size: 21pt;
			line-height: 3;
			z-index: 21;
			cursor: pointer;
			&:hover {
				color: #fff;
			}
		}

		.wrapper-tutorial {
			@include opacity(0);
			@include transition( opacity 1s ease);			
			z-index: -1;
			width: 601px;
			height: 708px;
			position: absolute;
			left: 211px;
			text-align: center;
			text-transform: uppercase;
			font-family:'gothic_821_condensed';
			font-size: 21pt;
			line-height: 3;	
			top: -120px;				
			.tutorialBG {
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				position: absolute;
				background: url(../../assets/img/bg/board-tutorial.png) no-repeat;
				z-index: initial;
			}
			h1 {
				left: 160px;
				top: 88px;
				position: absolute;
				font-size: 38pt;
			}
			> div {
				text-align: center;
				float: left;
				top: 198px;
				left: 50px;
				padding: 0px 20px 60px 20px;
				width: 120px;
				height: 150px;
				opacity: .9;
				font-size: 12pt;
				position: relative;
				line-height: 18px;
				.tutor {
					@include transform(scale(0.6));
				}
				&:nth-child(3) {
					.numeric {
						margin-left: calc(50% - 17px);
						@include tutor-sprite(1,true);
					}
					.tutor {
						@include tutor-sprite(tutor1,true);	
						margin: 10px 0;
						margin-left: 20px;
						margin-bottom: -7px;
					}
				}
				&:nth-child(4) {
					.numeric {
						margin-left: calc(50% - 17px);
						@include tutor-sprite(2,true);
					}
					.tutor {
						@include tutor-sprite(tutor2,true);	
						margin: 0 0 -3px 0;
						margin-bottom: -20px;
					}
				}
				&:nth-child(5) {
					.numeric {
						margin-left: calc(50% - 17px);
						@include tutor-sprite(3,true);
					}
					.tutor {
						@include tutor-sprite(tutor3,true);	
						margin: -20px 0 0 6px;
						margin-bottom: -20px;
					}
				}
				&:nth-child(6) {
					.numeric {
						margin-left: calc(50% - 17px);
						@include tutor-sprite(4,true);
					}
					.tutor {
						@include tutor-sprite(tutor4,true);	
						margin: -13px 0 -5px -50px;
						margin-bottom: -20px;
					}
				}
				&:nth-child(7) {
					.numeric {
						margin-left: calc(50% - 17px);
						@include tutor-sprite(5,true);
					}
					.tutor {
						@include tutor-sprite(tutor5,true);	
						margin: 12px 0 18px 16px;
						margin-bottom: 3px;
					}
				}
				&:nth-child(8) {
					.numeric {
						margin-left: calc(50% - 17px);
						@include tutor-sprite(6,true);
					}
					.tutor {
						@include tutor-sprite(tutor6,true);	
						margin: 2px 0 1px -8px;
						margin-bottom: -13px;
					}
				}
				&:before {
					clear: both;
				}

				&.last-copy{
					clear: both;
					float: none;
					margin-right: 135px;
										width: auto;
					height: 0;
				}
			}
			.close {
				width: 195px;
				height: 105px;
				position: absolute;
				background: url(../../assets/img/bg/board-2.png) bottom no-repeat;
				top: 699px;
				left: 190px;
				text-align: center;
				text-transform: uppercase;				
				font-size: 21pt;
				line-height: 3;
				padding: 0;
				cursor: pointer;
				z-index: -1;
				&:hover {
					color: #fff;
				}
			}
			&.active {
				opacity: 1;		
				z-index: 21;		
			}
			&.show {
				display: block;	
			}			
			/* .close:after {
				content: "";
				width: 195px;
				height: 105px;
				
				z-index: -2;
				position: absolute;
				left: 0;
			} */
		}
	}

	.hanging-board {
		width:626px;
		margin-left:-310px;
		text-align:center;
		z-index: 10;
		> div {
			height:210px;
			top: 10px;
			form {
				position: absolute;
				top: 100px;
				left: 84px;
				.saveInput {
					display: block;
					width: 454px;
					height: 30px;
					margin: 0 auto 30px;
					background: url(../../assets/img/bg/text-input-title.png) left top no-repeat;
					position: relative;
					input[type='text'] {
						display: block;
						width: 430px;
						border: 0;
						padding: 10px 12px;
						background: transparent;
						outline: none;
						color: #9e693a;						
					}
				}
			}
		}
		a {
			cursor: pointer;
		}
		
		.btn {
			color: #4c3215;
			font-size: 16pt;
			&.standing {
				cursor: pointer;
				padding: 20px 2px 0 0;
				margin: 0 10px;
				top: 121px;
				z-index: 2;
			}
		}
		.rec-wrapper {
			.beat {
				position: relative;					
				font-size: 18px;
				font-weight: bold;
				text-align: center;
				color: #FFDF00;
				border-radius: 100%;					
				display: block;
				width: 13px;
				height: 13px;
				@include beat-sprite(beat-lamp-off,true);				
				float: left;				
				margin: 60px 0 60px 68px;			
				background-size: cover;
				&.on {
					@include beat-sprite(beat-lamp-on,true);					
					&.bar{
						@include beat-sprite(beat-lamp-on-bar,true);						
					}
				}
			}
			.btn {
				width: 40px;
				left: 96px;
				top: 50px;
				position: absolute;				
				.record {
					position: relative;					
					font-size: 18px;
					font-weight: bold;
					padding-top: 5px;
					text-align: center;
					color: #FFDF00;
					border-radius: 100%;					
					display: block;
					width: 30px;
					height: 25px;
					background: url(../../assets/img/button/rec.png) top no-repeat;
					float: left;
					cursor: pointer;
					margin: 0 5px 10px 5px;
					background-size: cover;
					&.stop{
						margin: -5px 5px 2px -1px;
					}
				}
				.play {
					display: block;
					width: 38px;
					height: 38px;
					background: url(../../assets/img/button/playback.png) no-repeat left top;					
					float: left;
					cursor: pointer;
					margin: -5px 5px 10px -11px;
				}
				.stop {
					display: block;
					width: 38px;
					height: 38px;
					background: url(../../assets/img/button/playback.png) no-repeat -38px top;
					float: left;
					cursor: pointer;
					margin: -5px 5px 10px -11px;
				}

				span {					
					font-size: 12px;
					display: block;
					float: left;
					margin: 0;
					position: relative;
					z-index: 3000;
					font-size: 16px;
					font-weight: bold;					
				}
			}
			.play-wrapper {
				display: block;
				top: 60px;
				float: left;
				width: 340px;
				height: 9px;
				position: absolute;
				left: 143px;				
				.back {
					width: 100%;
					height: 100%;
					background: url(../../assets/img/bg/timeline.png) left top no-repeat;
					background-size: 340px 18px;
					position: absolute;
				}
				.front {
					width: 0%;
					height: 100%;
					/* background: url(../../assets/img/bg/timeline.png) left bottom no-repeat; */
					background-color: #00FFB6;
					border-radius: 4.5px 4.5px;
					opacity: 0.5;
					background-size: 340px 18px;
					position: relative;
					-webkit-transition: 1s all linear;
					   -moz-transition: 1s all linear;
					    -ms-transition: 1s all linear;
					     -o-transition: 1s all linear;
					        transition: 1s all linear;
				}				
				.notransition {
				  	-webkit-transition: none !important;
				  	-moz-transition: none !important;
				  	-o-transition: none !important;
				  	-ms-transition: none !important;
				  	transition: none !important;
				}
			}	
			.time-wrapper {
				position: absolute;
				font-size: 20px;
				font-weight: bold;
				display: block;
				float: left;
				top: 53px;
				margin-left: 500px;
				color: #4c3215;
			}
		}
	}

	.bottom-things {
		width: 540px;
		height: 85px;
		position: absolute;
		bottom: 36px;
		left: 0;
		right: 0;
		margin: 0 auto;
		span{
			z-index: 8;
			position: absolute;
			margin-top: 25px;
		}
		.lemon_f{
			background: url(../../assets/img/bg/lemon.png) no-repeat center;
			width: 130px;
			height: 49px;
			right: 20px;
		}
		.vanilla_f{
			background: url(../../assets/img/bg/vanilla.png) no-repeat center;
			width: 69px;
			height: 41px;
			left: 30px;
		}
		.raspberry_f{
			background: url(../../assets/img/bg/raspberry.png) no-repeat center;
			width: 89px;
			height: 50px;
			left: 160px;
		}
		.slider {
			transform-style: flat;
			margin-top: -54px;
			.btn {
				position: absolute;
				top: -20px;
				z-index: 5;
				margin: 0;
				padding: 0;
				@include scale(.8);

			}
			.left {
				left: 10px;
				@include icon-sprite(prev_off, true);					
				&:hover {
					@include icon-sprite(prev_on, true);					
				}
			}
			.right {
				right: 5px;
				@include icon-sprite(next_off, true);					
				&:hover {
					@include icon-sprite(next_on, true);					
				}
			}
		}
		.list {
			z-index: 7;
			position: absolute;
			margin-top: -24px;
			width: 340px;
			margin-left: 94px;
			height: 150px;
			padding: 0 10px;
			overflow: hidden;			
			.slide-product {
				position: relative;
				white-space: nowrap;
				height: 100%;				
				@include transition(margin .6s ease-out);
				.item {
					backface-visibility : hidden;
					margin: -44px -58px 0 -26px;
					right: 20px;
					z-index: 6;
					white-space: normal;
					display: inline-block;
					position: relative;
					cursor: pointer;
					@include transition( all .1s ease-out);
					@include transform( scale(.30));
					/* @include transform-origin( scale(0)); */
					&:hover {
						@include transform( scale(.45));
						width: 50px;
						height: 140px;
					}
					&:after {
						content: "";
						background: url(../../assets/img/floating-shadow.png) no-repeat center;
						background-size: cover;
						width: 161px;
						height: 65px;
						display: block;
						position: absolute;
						top: 224px;
						margin-left: -80px;
						left: 50%;
						z-index: -5;
						&:hover {
							content: inherit;
						}
					}
					@import "product";
				}
			}
		}

	}
}

/* Preloader */
#jpreOverlay, #qLoverlay {     background-color:#000;     width:100%;     height:100%;     position:fixed;     top:0;     left:0;     z-index:11; } #jpreSlide {     font-size:22px;     font-weight:700;     color:#FFF;     text-align:center;     width:100%; } #jpreLoader, #qLloader {     width:448px;     height:69px;     background:url('../images/loader_logo.jpg') 0 100% no-repeat;     position:fixed;     top:43%;     left:50%;     margin-left:0px;     margin-top: -300px; } #jpreBar, #qLbar {     width:448px;     height:0;     position:absolute;     bottom:0;     background:url('../images/loader_logo.jpg') 100px 100% no-repeat; } #jprePercentage, #qLpercentage {     color:#888;     text-align:center;     position:absolute;     height:30px;     width:100px;     margin-top: 40px; }

@media screen and (max-height:680px) {

}

@media screen and (max-height:758px) {
	.privacy {
		height: calc(100% - 120px);	
		.privacy-wrapper {
			height: calc(100% - 260px);
		}
		.close {
			top: initial;
			bottom: -105px;
		}
	}
	.syarat {
		height: calc(100% - 120px);	
		.syarat-wrapper {
			height: calc(100% - 260px);
		}
		.close {
			top: initial;
			bottom: -105px;
		}
	}	

	.wrapper-tutorial {
		height: 688px;		
		.close {
			top: 688px;
		}
	}
}

@media screen and (max-width:1000px) {
	.orn {
		&.left {
			left: calc((840px / 2) * -1);
		}
		&.right {
			right: calc((840px / 2) * -1);
		}
	}
}